<launch>
  <remap from="/vive/controller_LHR_FFDEDD47/joy" to="/vive_lh_joy" />
  <remap from="/vive/controller_LHR_FFA77D42/joy" to="/vive_rh_joy" />

  <node name="image_republish_l" pkg="image_transport" type="republish" args="compressed raw">
    <remap from="in"  to="/multisense/left/image_color" />
    <remap from="out" to="/multisense/left/image_color_decompressed" />
  </node>
  <node name="image_republish_r" pkg="image_transport" type="republish" args="compressed raw">
    <remap from="in"  to="/multisense/right/image_mono" />
    <remap from="out" to="/multisense/right/image_mono_decompressed" />
  </node>

  <remap to="/multisense/left/image_color_decompressed" from="/image_left" />
  <remap to="/multisense/right/image_mono_decompressed" from="/image_right" />
  <remap to="/multisense/left/image_color/camera_info" from="/camera_info_left" />
  <remap to="/multisense/right/image_mono/camera_info" from="/camera_info_right" />    
  <include file="$(find vive_ros)/launch/vive.launch"/>

  <node name="world_vive_to_operator_origin" pkg="tf" type="static_transform_publisher" args="0 2 0 -1.570796 0 0 /world /operator_origin 1000" />
  <!-- <node name="vive_sn_to_lh" pkg="tf" type="static_transform_publisher" args="0 0 0 0 1.570796 -1.570796 /controller_LHR_FFDEDD47 /vive_lh_tf 1000" /> -->
  <!-- <node name="vive_sn_to_rh" pkg="tf" type="static_transform_publisher" args="0 0 0 0 1.570796 -1.570796 /controller_LHR_FFA77D42 /vive_rh_tf 1000" /> -->
  <!-- <node name="vive_sn_tp_com" pkg="tf" type="static_transform_publisher" args="0 0 0 1.570796 1.570796 0 /tracker_LHR_09DC9A32 /vive_com_tf 1000" /> -->
  <!-- <node name="vive_sn_to_lf" pkg="tf" type="static_transform_publisher" args="0 0 0 1.570796 3.141592 0 /tracker_LHR_1ADE74F2 /vive_lf_tf 1000" /> -->
  <!-- <node name="vive_sn_to_rf" pkg="tf" type="static_transform_publisher" args="0 0 0 1.570796 3.141592 0 /tracker_LHR_03DCC6A7 /vive_rf_tf 1000" /> -->
  <node name="vive_sn_to_head" pkg="tf" type="static_transform_publisher" args="0 0 0 0 1.570796 -1.570796 /hmd /vive_head_tf 1000" />

  <node name="TF2PoseStamped" pkg="whole_body_master_slave" type="TF2PoseStamped.py" output="screen" required="true"/>

  <node name="lh_joy_to_thk_l_refpos" pkg="topic_tools" type="transform" args='/vive_lh_joy /thk_hand_controller/left/refpos  std_msgs/Float32 "std_msgs.msg.Float32(m.axes[2])" --import std_msgs --wait-for-start' output="screen" required="true"/>
  <node name="rh_joy_to_thk_r_refpos" pkg="topic_tools" type="transform" args='/vive_rh_joy /thk_hand_controller/right/refpos std_msgs/Float32 "std_msgs.msg.Float32(m.axes[2])" --import std_msgs --wait-for-start' output="screen" required="true"/>

  <node name="lh_joy_to_lhand" pkg="topic_tools" type="transform" args='/vive_lh_joy /master_lhand_pose geometry_msgs/PoseStamped "geometry_msgs.msg.PoseStamped(header=m.header,pose=geometry_msgs.msg.Pose(position=geometry_msgs.msg.Point(m.buttons[0],m.axes[2],0),orientation=geometry_msgs.msg.Quaternion(0,0,0,1)))" --import geometry_msgs --wait-for-start' output="screen" required="true"/>
  <node name="rh_joy_to_rhand" pkg="topic_tools" type="transform" args='/vive_rh_joy /master_rhand_pose geometry_msgs/PoseStamped "geometry_msgs.msg.PoseStamped(header=m.header,pose=geometry_msgs.msg.Pose(position=geometry_msgs.msg.Point(m.buttons[0],m.axes[2],0),orientation=geometry_msgs.msg.Quaternion(0,0,0,1)))" --import geometry_msgs --wait-for-start' output="screen" required="true"/>

  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find whole_body_master_slave)/config/vive_ros.rviz" output="screen"/>

</launch>
