<launch>
    <include file="$(find jsk_fetch_plug_power_spot)/launch/apriltag_detection.launch.xml"/>

    <node
        pkg="jsk_fetch_plug_power_spot"
        type="plug.l"
        name="jsk_fetch_plug_power_spot_plug"
        output="screen"
        required="true"
        >
    </node>
</launch>
