<launch>

  <arg name="bagfile" default="" />
  <arg name="gui" default="true" />

  <param name="/use_sim_time" value="true" />

  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(arg bagfile) --clock --loop">
  </node>

  <include file="$(find stereo_image_sandbox)/launch/republish_svpro_stereo.launch" >
    <arg name="gui" value="false" />
  </include>

  <include file="$(find stereo_image_sandbox)/launch/stereo_depth_estimation.launch" >
  </include>

  <group if="$(arg gui)" >
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find stereo_image_sandbox)/launch/replay/matsuo.rviz">
    </node>
  </group>

</launch>
