<launch>
  <include file="$(find pr2_machine)/pr2.machine"/>

  <node name="elevator_move_base" pkg="roseus" type="roseus"
	output="screen" respawn="true"
	args="$(find elevator_move_base_pr2)/src/elevator-move-base.l"/>

  <node name="find_elevator_button" pkg="roseus" type="roseus"
	respawn="true" machine="c2"
	args="$(find elevator_move_base_pr2)/src/find-elevator-button.l" />

  <node name="light_detector" pkg="elevator_move_base_pr2"
	type="color_point_detector" machine="c2">
    <remap from="image" to="/wide_stereo/left/image_color"/>
    <param name="red" value="253"/>
    <param name="green" value="251"/>
    <param name="blue" value="183"/>
  </node>

  <!-- read the elevator floor number -->
  <node name="panel_camera"  machine="c2"
        pkg="virtual_camera" type="virtual_camera_mono">
    <remap from="image" to="/narrow_stereo/left/image_raw"/>
  </node>
  <include file="$(find elevator_move_base_pr2)/launch/templatematch.launch"/>

  <!-- start objectdetection -->
  <include file="$(find eusmodel_sift_detector)/launch/panel-detection.launch"/>

</launch>
