<launch>
  <arg name="openai_credentials_json" default="$(find database_talker)/auth/openai_credentials.json" />
  <arg name="google_credentials_json" default="$(find database_talker)/auth/eternal-byte-236613-4bc6962824d1.json" />
  <arg name="google_credentials_project_id" default="eternal-byte-236613" />
  <arg name="gdrive_credentials_yaml" default="$(find database_talker)/auth/pydrive_settings.yaml" />
  <arg name="start_periodic_mongodb_trigger" default="true" />

  <arg name="start_mongodb_record_nodelet_manager" default="true" />
  <arg name="start_mongodb" default="true" />

  <include file="$(find jsk_robot_startup)/launch/lifelog.launch" >
    <arg name="logger_save_rgb" value="false" />
    <arg name="logger_save_action" value="false" />
    <arg name="logger_save_smach" value="false" />
    <arg name="logger_save_faces" value="false" />
    <arg name="logger_save_dialogflow" value="false" />
    <arg name="logger_save_google_chat" value="false" />
    <arg name="logger_save_video_to_scene" value="false" /> <!-- to reduce CPU load we use /aibo_driver/trigger -->
    <arg name="image" value="/usb_cam/image_raw" />
    <arg name="logger_save_throttled_image" value="false" />
    <arg name="start_mongodb_record_nodelet_manager" value="$(arg start_mongodb_record_nodelet_manager)" />
    <arg name="start_mongodb" value="$(arg start_mongodb)" />
  </include>
  <group ns="lifelog">
    <include file="$(find jsk_robot_startup)/lifelog/lifelog_rgb_image.launch" >
      <arg name="node_name" value="thorottled_color_logger" />
      <arg name="image" value="/store_image_description/result/image/compressed" />
      <arg name="manager" value="mongodb_record_nodelet_manager" />
      <arg name="respawn" value="true" />
    </include>
  </group>
  <node pkg="rostopic" type="rostopic" name="periodic_mongodb_trigger" if="$(arg start_periodic_mongodb_trigger)"
        launch-prefix="bash -c 'set -x; while [ 1 ]; do ${@:0:$#-2} &quot;${@: -3}&quot; ; sleep 1000; done;' "
        args="pub -s -1 /publish_trigger_mongodb_event roseus/StringStamped &quot;{header: auto}&quot;" />

  <!-- openai -->
  <group ns="openai">
    <node pkg="openai_ros" type="openai_node.py" name="openai" output="screen" >
      <rosparam command="load" file="$(arg openai_credentials_json)" />
    </node>
  </group>
  <!-- store vqa result -->
  <node name="store_image_description"
        pkg="database_talker" type="store_image_description.py"
        output="screen" >
    <remap from="image" to="/usb_cam/image_raw/compressed/throttled" />
  </node>
  <node name="vqa_logger"
        pkg="jsk_robot_startup" type="mongo_record.py"
        respawn="true">
    <rosparam subst_value="true">
      topics:
      - /store_image_description/result
    </rosparam>
  </node>

  <!-- google chat -->
  <include file="$(find google_chat_ros)/launch/google_chat.launch" >
    <arg name="use_helper" default="false" />
    <arg name="receiving_mode" value="pubsub" />
    <arg name="google_cloud_credentials_json" value="$(arg google_credentials_json)" />
    <arg name="project_id" value="$(arg google_credentials_project_id)" />
    <arg name="subscription_id" value="chat-sub" />
  </include>

  <!-- gdrive_ros -->
  <include file="$(find gdrive_ros)/launch/gdrive_server.launch" >
    <arg name="settings_yaml" value="$(arg gdrive_credentials_yaml)" />
    <arg name="respawn" value="true" />
    <arg name="node_name" value="gdrive_ros" />
  </include>
</launch>
