language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
env:
  global:
    - ROSWS=wstool
    - BUILDER=catkin
    - CATKIN_PARALLEL_JOBS='-p1'
    - ROS_PARALLEL_JOBS='-j1'
    - CATKIN_PARALLEL_TEST_JOBS='-p1'
    - ROS_PARALLEL_TEST_JOBS='-j1'
  matrix:
    - ROS_DISTRO=hydro  USE_DEB=true   NOT_TEST_INSTALL=true USE_JENKINS="true" EXTRA_DEB="ros-hydro-convex-decomposition ros-hydro-ivcon"
    - ROS_DISTRO=hydro  USE_DEB=false  NOT_TEST_INSTALL=true USE_JENKINS="true" EXTRA_DEB="ros-hydro-convex-decomposition ros-hydro-ivcon"
    - ROS_DISTRO=indigo USE_DEB=true   NOT_TEST_INSTALL=true EXTRA_DEB="ros-indigo-convex-decomposition ros-indigo-ivcon"
    - ROS_DISTRO=indigo USE_DEB=false  NOT_TEST_INSTALL=true EXTRA_DEB="ros-indigo-convex-decomposition ros-indigo-ivcon"
matrix:
  allow_failures:
  - env: ROS_DISTRO=hydro  USE_DEB=true   NOT_TEST_INSTALL=true USE_JENKINS="true" EXTRA_DEB="ros-hydro-convex-decomposition ros-hydro-ivcon"
  - env: ROS_DISTRO=indigo USE_DEB=true   NOT_TEST_INSTALL=true EXTRA_DEB="ros-indigo-convex-decomposition ros-indigo-ivcon"
  - env: ROS_DISTRO=indigo USE_DEB=false  NOT_TEST_INSTALL=true EXTRA_DEB="ros-indigo-convex-decomposition ros-indigo-ivcon"
script: source .travis/travis.sh
notifications:
  email:
    on_success: always
    on_failure: always
