<launch>
  <arg name="record_video" default="false" />
  <arg name="video_dir" default="$(find simple_fetch_and_place_pr2)/video" />

  <node name="spawn_scene_camera_kitchen_sink"
        pkg="simple_fetch_and_place_pr2" type="gazebo_spawn_scene_camera.py"
        output="screen" args="add">
    <rosparam>
      name: scene_camera_kitchen_sink
      ros_namespace: scene_camera_kitchen_sink
      pose: [-0.017284, 1.062493, 1.615165, 0.0, 0.513707, 0.871216]
      far_clip: 10.0
      horizontal_fov: 1.047
      frame_rate: 10.0
    </rosparam>
  </node>


  <node name="spawn_scene_camera_kitchen_table"
        pkg="simple_fetch_and_place_pr2" type="gazebo_spawn_scene_camera.py"
        output="screen" args="add">
    <rosparam>
      name: scene_camera_kitchen_table
      ros_namespace: scene_camera_kitchen_table
      pose: [2.80, 2.866, 1.957, 0.00, 0.493326, -2.381082]
      far_clip: 10.0
      horizontal_fov: 1.047
      frame_rate: 10.0
    </rosparam>
  </node>

  <node name="spawn_scene_camera_table"
        pkg="simple_fetch_and_place_pr2" type="gazebo_spawn_scene_camera.py"
        output="screen" args="add">
    <rosparam>
      name: scene_camera_table
      ros_namespace: scene_camera_table
      pose: [3.058, 3.321, 2.047, 0.00, 0.405, -1.5055]
      far_clip: 10.0
      horizontal_fov: 1.047
      frame_rate: 10.0
    </rosparam>
  </node>

  <node name="spawn_scene_camera_axis"
        pkg="simple_fetch_and_place_pr2" type="gazebo_spawn_scene_camera.py"
        output="screen" args="add">
    <rosparam>
      name: scene_camera_axis
      ros_namespace: scene_camera_axis
      pose: [4.889, -2.8707, 2.4959, 0.0, 0.2904, 1.955]
      far_clip: 10.0
      horizontal_fov: 1.047
      frame_rate: 10.0
    </rosparam>
  </node>


  <group if="$(arg record_video)">
    <node name="record_camera_kitchen_sink"
          pkg="simple_fetch_and_place_pr2" type="video_saver.py">
      <remap from="image" to="/scene_camera_kitchen_sink/rgb/image_raw" />
      <param name="video_path" value="$(arg video_dir)/kitchen_sink.avi" />
    </node>

    <node name="record_camera_kitchen_table"
          pkg="simple_fetch_and_place_pr2" type="video_saver.py">
      <remap from="image" to="/scene_camera_kitchen_table/rgb/image_raw" />
      <param name="video_path" value="$(arg video_dir)/kitchen_table.avi" />
    </node>

    <node name="record_camera_table"
          pkg="simple_fetch_and_place_pr2" type="video_saver.py">
      <remap from="image" to="/scene_camera_table/rgb/image_raw" />
      <param name="video_path" value="$(arg video_dir)/table.avi" />
    </node>

    <node name="record_camera_axis"
          pkg="simple_fetch_and_place_pr2" type="video_saver.py">
      <remap from="image" to="/scene_camera_axis/rgb/image_raw" />
      <param name="video_path" value="$(arg video_dir)/axis.avi" />
    </node>
  </group>

</launch>
