<launch>
  <arg name="ROBOT" default="sim"/>
  <include file="$(find pr2_machine)/$(arg ROBOT).machine"/>

  <param name="/use_sim_time" value="true"/>

  <!-- inputs are tf, image_raw, camera_info -->
  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(find elevator_move_base_pr2)/test/test-eng2-call-panel.bag --clock --loop"/>

  <group ns="/narrow_stereo/left">
    <node name="relay"
          pkg="topic_tools" type="relay"
          args="image_color/compressed image_raw/compressed" />
    <node name="republish"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw"/>
      <remap from="out" to="image_raw"/>
    </node>
    <node name="image_proc"
          pkg="image_proc" type="image_proc"/>
  </group>

  <include file="$(find elevator_move_base_pr2)/launch/elevator_move_base_modules.xml">
    <arg name="scene" value="eng2" />
  </include>

  <!-- test for panel pose detection -->
  <test test-name="test_panel_pose_detection"
        name="test_panel_pose_detection"
        pkg="elevator_move_base_pr2" type="test-panel-pose-detection.l">
    <rosparam>
      panel_type: elevator_call_panel
    </rosparam>
  </test>

</launch>
