<launch>
  <arg name="ROBOT" default="sim"/>
  <include file="$(find pr2_machine)/$(arg ROBOT).machine"/>

  <param name="use_sim_time" value="true"/>

  <!-- inputs are tf, image_raw, camera_info, joint_states -->
  <node pkg="rosbag" type="play" name="rosbag_play"
        args="$(find elevator_move_base_pr2)/test/test-button-light.bag -l --clock" />

  <group ns="/wide_stereo/left" >
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <include file="$(find elevator_move_base_pr2)/launch/elevator_move_base_modules.xml">
    <arg name="scene" value="eng2" />
    <!-- set this because rosbag tf is incomplete -->
    <arg name="launch_find_elevator_button" value="false" />
  </include>

  <!-- test for button color recognition -->
  <test test-name="test_button_light_recognition" pkg="roseus" type="roseus"
	args="$(find elevator_move_base_pr2)/test/test-button-light-recognition.l"/>

</launch>
