<launch>
  <arg name="ROBOT" default="$(optenv ROBOT sim)" />

  <param name="use_sim_time" value="true"/>
  <include file="$(find pr2_machine)/$(arg ROBOT).machine"/>
  <include file="$(find elevator_move_base_pr2)/launch/elevator_move_base_modules.xml">
    <arg name="ROBOT" value="$(arg ROBOT)" />
  </include>

  <!-- inputs are tf, image_raw, camera_info, joint_states -->
  <node pkg="rosbag" type="play" name="rosbag_play"
        args="$(find elevator_move_base_pr2)/test/test-button-light.bag -l --clock" />

  <!-- tf, EusModel -> viewtarget -->
  <!-- image_raw, camera_info, view_target -> light_button -->
  <group ns="/wide_stereo/left" >
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <!-- test for button color recognition -->
  <test test-name="button_light" pkg="roseus" type="roseus" time-limit="300"
	args="$(find elevator_move_base_pr2)/test/test-button-light.l"/>

  <sphinxdoc><![CDATA[
This scripts is test for elevator call panel light state.

The bagfile contains these topics.
narrow_stereo/left/{camera_info,image_raw}, joint_states, tf, view_point

Then check the button color to detect the button was pushed.
The button area in the camera image is calcurated from Euslisp camera model and panel object model.


.. image:: build/test-button-light.mp4
  :width: 600

.. video:: build/call-panel-lighting-not
  :width: 600

  ]]></sphinxdoc>

  <!-- mjpeg_server and capture script -->
  <anode pkg="mjpeg_server" type="mjpeg_server"  name="mjpeg_server"
	output="screen" respawn="true">
    <param name="port" type="int" value="8910" />
  </anode>
  <anode type="mjpeg_capture.sh" pkg="jsk_tools" name="capture_result" args="http://localhost:8910/stream?topic=/light_detector/debug_image $(find elevator_move_base_pr2)/build/test-button-light.mp4 -t 20 -p 8910"/>


  <anode type="rviz" pkg="rviz" name="rviz" respawn="true"
        args="-d $(find elevator_move_base_pr2)/test/test-button-light.vcg"
        launch-prefix="glc-capture --start --out=$(find elevator_move_base_pr2)/build/test-button-light.glc" />
  <!-- we assume test code is invoked in alphabet order of test-name -->
  <atest type="glc_encode.sh" pkg="jsk_tools" test-name="z_encode_test1" args="$(find elevator_move_base_pr2)/build/test-button-light.glc --ctx 1 -o $(find elevator_move_base_pr2)/build/test-button-light" time-limit="300"/>

</launch>
