<launch>

  <!-- image_raw, camera_info, view_target -> light_button -->

  <param name="/use_sim_time" value="true"/>

  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(find elevator_move_base_pr2)/test/test-color-point-detector.bag --clock --loop"/>

  <group ns="/wide_stereo/left" >
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <node name="light_detector"
        pkg="elevator_move_base_pr2" type="color_point_detector"
        output="screen">
    <remap from="image" to="/wide_stereo/left/image_color"/>
    <rosparam>
      red: 253
      green: 251
      blue: 240
      decay_r: 0.1
      decay_g: 0.1
      decay_b: 0.05
    </rosparam>
  </node>

  <test test-name="test_hztest"
        name="test_hztest"
        pkg="rostest" type="hztest">
    <rosparam>
      topic: /light_button
      hz: 2.0
      hzerror: 0.5
      test_duration: 2.0
    </rosparam>
  </test>

  <test test-name="test_color_point_detector"
        name="test_color_point_detector"
        pkg="elevator_move_base_pr2" type="test-color-point-detector.py">
    <rosparam>
      target_value: 1.5
      timeout: 3.0
    </rosparam>
  </test>

</launch>
