<launch>
    <arg name="switchbot_token"/>

    <node
        pkg="spot_person_leader"
        type="lead_person_demo.py"
        name="spot_person_leader"
        output="screen"
        >
        <!-- Action Client -->
        <remap from="~lead_person" to="/spot/lead_person" />

        <remap from="~visible" to="/person_tracker/visible" />

        <rosparam
            ns="map"
            file="$(find spot_person_leader)/config/map.yaml"
            subst_value="true"
            />

        <rosparam subst_value="true">
            initial_node: '73B2'
            duration_visible_timeout: 10.0
        </rosparam>

    </node>

    <node
        pkg="spot_person_leader"
        type="person_tracker.py"
        name="person_tracker"
        output="screen"
        >
        <remap from="~bbox_array" to="/spot_recognition/bbox_array" />
        <!-- remap from="~visible" to="" / -->

        <rosparam subst_value="true">
            frame_id_robot: 'body'
            label_person: 0
            dist_visible: 5.0
            timeout_observation: 5.0
        </rosparam>
    </node>

    <node
        pkg="spot_person_leader"
        type="car_tracker.py"
        name="car_tracker"
        output="screen"
        >
        <remap from="~input_bbox_array" to="/spot_recognition/bbox_array" />
        <remap from="~input_tracking_labels" to="/spot_recognition/tracking_labels" />

        <rosparam subst_value="true">
            frame_fixed: 'odom'
            frame_robot: 'body'
            timeout_transform: 0.05
            num_max_track: 10
            thresholds_distance:
                '2': 50
            threshold_move_velocity: 2
            threshold_lost_duration: 1.0
        </rosparam>
    </node>

    <include
        file="$(find switchbot_ros)/launch/switchbot.launch">
        <arg name="token" value="$(arg switchbot_token)"/>
    </include>

    <include
        file="$(find spot_person_leader)/launch/obstacle_detector.launch" />
</launch>
