<launch>
  <!-- REQUIRED: INPUT_IMAGE input image topic -->
  <arg name="INPUT_IMAGE" />
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_image_view_button"
        args="--perspective-file $(find jsk_rqt_plugins)/resource/rqt_image_view2_button.perspective">
    <remap from="event" to="rqt_image_view2_engine/event" />
    <remap from="image_marked" to="rqt_image_view2_engine/image_marked" />
    <rosparam>
      layout_file: "package://drc_task_common/config/ocs_ui_button_layout.yaml"
    </rosparam>
  </node>

  <node pkg="image_view2" type="image_view2" name="rqt_image_view2_engine"
        output="screen">
    <remap from="image_marked" to="~image_marked" />
    <remap from="image" to="$(arg INPUT_IMAGE)" />
    <param name="use_window" value="false" />
  </node>
</launch>

