<launch>

  <!-- this needs knorwob/trunk -->
  <env name="JAVA_HOME" value="/usr/lib/jvm/java-6-openjdk"/>
  <node pkg="json_prolog" type="json_prolog" name="json_prolog">
	<param name="initial_package" value="jsk_semantic_maps" />
  </node>

  <node pkg="jsk_perception" type="point_pose_extractor"
		name="cup_detector" ns="/narrow_stereo/left">
	<remap from="ObjectDetection" to="/ObjectDetection"/>
	<param name="template_filename" value="$(find jsk_2011_07_pr2_semantic)/data/sift-cotesys.png"/>
	<param name="object_width" value="0.068"/>
	<param name="object_height" value="0.079"/>
	<param name="viewer_window" value="false" /> <!-- to disable window-->
  </node>

  <!-- for gripper action -->
  <node pkg="roslaunch" type="roslaunch" name="$(anon launch)"
        args="pr2_gripper_sensor_action pr2_gripper_sensor_actions.launch"
	output="screen" />

  <!-- for acurate object position -->
  <node pkg="roslaunch" type="roslaunch" name="$(anon launch)"
        args="jsk_pcl_ros pointcloud_screenpoint.launch"
	output="screen" />

  <!-- for collision avoidance in arm planning -->
  <node pkg="roslaunch" type="roslaunch" name="$(anon launch)"
        args="pr2eus_openrave pr2_openrave_armplan.launch"
	output="screen" />

</launch>
