<launch>
   <group ns="vehicle_handle" clear_params="true">
    <param name="display" type="int" value="1"/>
    <param name="rect0_size_x" type="double" value="0.014"/>
    <param name="rect0_size_y" type="double" value="0.014"/>
    <param name="grid0_size_x" type="int" value="3"/>
    <param name="grid0_size_y" type="int" value="5"/>
    <param name="board_type" value="acircle" />
    <param name="use_P" value="true" />
    <param name="type0" type="string" value="data/ricebox.kinbody.xml"/>
    <node pkg="checkerboard_detector" name="checkerboard_detector" type="checkerboard_detector" respawn="false">
      <remap from="camera_info" to="/multisense/left/camera_info"/>
      <remap from="image" to="/multisense/left/image_rect_color"/>
      <remap from="objectdetection_pose" to="handle_marker_pose" />
    </node>
  </group>
   <node pkg="jsk_topic_tools" type="static_transform_pose_stamped"
         name="handle_pose"
         args="0.032 0.028 0 3.14 0 0 vehicle_handle/handle_marker_pose handle_pose">
   </node>
  <node pkg="jsk_topic_tools" type="static_transform_pose_stamped"
        name="crank_pose"
        args="-0.13 0 0 0 0 0 handle_pose crank_pose">
    <remap from="~input" to="handle_marker_pose/output" />
  </node>
</launch>
