<launch>
  <!-- KdTree and Visualization Marker for obstacle detection -->
  <node name="obstacle_detection" pkg="drive_recognition" type="kdtree_obstacle" output="screen" >
    <remap from="points" to="/passthrough/stereo/remove_xz" />
    <remap from="stop_cmd" to="/brake_pedal/obstacle/input" />
    <remap from="stop_real_robot_cmd" to="/obstacle_detection/stop_real_robot_cmd" />
  </node>
</launch>
