<launch>
  <arg name="start_aibo_driver" value="false" />
  <arg name="start_camera_driver" default="true" />
  <arg name="camera_device" default="/dev/video0" />

  <include file="$(find aibo_driver)/launch/aibo_driver.launch" if="$(arg start_aibo_driver)" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" if="$(arg start_camera_driver)" respawn="true">
    <param name="video_device" value="$(arg camera_device)" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="yuyv" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framrenate" value="10"/>
  </node>

  <include file="$(find database_talker)/launch/include/database_talker.launch" >
    <arg name="google_credentials_json" value="$(find database_talker)/auth/jsk-aibo-37d42e158287.json" />
    <arg name="google_credentials_project_id" value="jsk-aibo" />
    <arg name="start_periodic_mongodb_trigger" default="false" />
  </include>

  <!-- start_periodic_mongodb_trigger -->
  <node pkg="rostopic" type="rostopic" name="periodic_mongodb_trigger"
        launch-prefix="bash -c 'set -x; while [ 1 ]; do ${@:0:$#-2} &quot;${@: -3}&quot; ; sleep 1000; done;' "
        args="pub -s -1 /publish_trigger_mongodb_event aibo_driver/StringStatus &quot;{header: auto}&quot;" />
  <!-- republish compressed/throttled image data only when /publish_trigger_mongodb_event is published -->
  <!-- relay /aibo_driver/trigger -> /publish_trigger_mongodb_event to store /usb_cam/image_raw-->
  <node name="relay_aibo_trigger_to_mongodb_trigger"
	pkg="topic_tools" type="relay"
	args="/aibo_driver/hungry_status /publish_trigger_mongodb_event" />

  <!-- aibo data -->
  <node name="aibo_driver_logger"
        pkg="jsk_robot_startup" type="mongo_record.py"
        respawn="true">
    <rosparam subst_value="true">
      topics:
      - /aibo_driver/biting_status
      - /aibo_driver/body_touched_status
      - /aibo_driver/found_objects_status
      - /aibo_driver/hungry_status
      - /aibo_driver/name_called_status
      - /aibo_driver/paw_pads_status
      - /aibo_driver/posture_status
      - /aibo_driver/sleepy_status
      - /aibo_driver/voice_command_status
    </rosparam>
  </node>
</launch>
