<launch>

  <arg name="namespace" default="robot_a" />

  <include file="$(find stereo_image_sandbox)/launch/speech_recognition_radxa.launch" >
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find stereo_image_sandbox)/launch/joy.launch" >
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find kxr_controller)/launch/kxr_controller_for_wheel.launch" >
    <arg name="namespace" value="$(arg namespace)" />
  </include>

</launch>
