<launch>

  <arg name="camera_name" value="stereo" />
  <arg name="gui" default="true" />
  <arg name="queue_size" default="100" />

  <group ns="$(arg camera_name)">
    <group ns="left_camera" >
      <node name="people_pose_estimation"
            pkg="stereo_image_sandbox" type="people_pose_estimation.py"
            respawn="true"
            clear_params="true"
            output="screen" >
        <remap from="~input" to="image_rect_color" />
        <rosparam subst_value="true" >
          enable_vital_check: false
        </rosparam>
      </node>
    </group>

    <group ns="right_camera" >
      <node name="people_pose_estimation"
            pkg="stereo_image_sandbox" type="people_pose_estimation.py"
            respawn="true"
            clear_params="true"
            output="screen" >
        <remap from="~input" to="image_rect_color" />
        <rosparam subst_value="true" >
          enable_vital_check: false
        </rosparam>
      </node>
    </group>

    <node name="people_pose_estimation"
          pkg="stereo_image_sandbox" type="stereo_keypoint_matching.py"
          respawn="true"
          clear_params="true"
          output="screen" >
        <remap from="~left/camera_info" to="left_camera/camera_info" />
        <remap from="~left/skeleton" to="left_camera/people_pose_estimation/output/skeleton" />
        <remap from="~right/camera_info" to="right_camera/camera_info" />
        <remap from="~right/skeleton" to="right_camera/people_pose_estimation/output/skeleton" />
        <rosparam subst_value="true" >
          queue_size: $(arg queue_size)
          enable_vital_check: false
        </rosparam>
    </node>
  </group>

  <group if="$(arg gui)" >
    <group ns="$(arg camera_name)" >
      <group ns="left_camera" >
        <node name="image_view"
              pkg="image_view" type="image_view"
              args="image:=people_pose_estimation/output/viz" />
      </group>
      <group ns="right_camera" >
        <node name="image_view"
              pkg="image_view" type="image_view"
              args="image:=people_pose_estimation/output/viz" />
      </group>
    </group>
  </group>

</launch>
