<launch>

  <include file="$(find stereo_image_sandbox)/launch/svpro_stereo.launch" >
    <arg name="gui" value="false" />
    <arg name="stereo_proc" value="false" />
  </include>

  <include file="$(find stereo_image_sandbox)/launch/hand_pose_estimation.launch" >
    <arg name="gui" value="false" />
  </include>

  <!-- <include file="$(find stereo_image_sandbox)/launch/face_recognition.launch" > -->
  <!--   <arg name="gui" value="false" /> -->
  <!-- </include> -->

  <include file="$(find stereo_image_sandbox)/launch/speech_recognition.launch" >
  </include>

</launch>
