<launch>
  <arg name="ns" value="remote" />
  <arg name="camera_name" value="stereo" />
  <arg name="gui" default="true" />
  <arg name="frame_id" default="$(arg camera_name)_link" />

  <!-- Worker threads for the nodelet manager -->
  <arg name="num_worker_threads" default="4" />

  <arg name="queue_size" default="5" />

  <arg name="respawn" default="true" />
  <arg name="stereo_proc" default="true" />

  <group ns="$(arg ns)" >
    <group ns="$(arg camera_name)">
	    <arg name="manager" value="$(arg camera_name)_nodelet_manager" />
	    <arg name="debug" default="false" />
	    <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
	      <arg name="name" value="$(arg manager)" />
	      <arg name="debug" value="$(arg debug)" />
	      <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
	    </include>

      <node name="republish"
            pkg="image_transport" type="republish"
            args="compressed raw">
        <remap from="in" to="/stereo/image_raw" />
        <remap from="out" to="/$(arg ns)/stereo/image_raw" />
      </node>

      <node name="split_image"
            pkg="nodelet" type="nodelet"
            args="load stereo_image_sandbox/split_image /$(arg ns)/$(arg camera_name)/$(arg manager)"
            clear_params="true">
        <remap from="~input" to="image_raw" />
        <remap from="~output/vertical00/horizontal00" to="left_camera/image_raw" />
        <remap from="~output/vertical00/horizontal01" to="right_camera/image_raw" />
        <rosparam subst_value="true">
          vertical_parts: 1
          horizontal_parts: 2
          vertical00/horizontal00/camera_info_url: file://$(find stereo_image_sandbox)/calibdata/left.yaml
          vertical00/horizontal00/frame_id: "left_camera"
          vertical00/horizontal01/frame_id: "left_camera"
          vertical00/horizontal01/camera_info_url: file://$(find stereo_image_sandbox)/calibdata/right.yaml
        </rosparam>
      </node>

      <group ns="left_camera" >
        <node name="rectify_color"
              pkg="nodelet" type="nodelet"
              args="load image_proc/rectify /$(arg ns)/$(arg camera_name)/$(arg manager)"
              respawn="$(arg respawn)">
          <param name="queue_size" value="$(arg queue_size)" />
          <remap from="image_mono" to="image_raw" />
          <remap from="image_rect" to="image_rect_color" />
        </node>
      </group>

      <group ns="right_camera" >
        <node name="rectify_color"
              pkg="nodelet" type="nodelet"
              args="load image_proc/rectify /$(arg ns)/$(arg camera_name)/$(arg manager)"
              respawn="$(arg respawn)">
          <param name="queue_size" value="$(arg queue_size)" />
          <remap from="image_mono" to="image_raw" />
          <remap from="image_rect" to="image_rect_color" />
        </node>
      </group>

      <group if="$(arg stereo_proc)" >
        <node name="disparity"
              pkg="nodelet" type="nodelet"
              args="load stereo_image_proc/disparity /$(arg ns)/$(arg camera_name)/$(arg manager)"
              clear_params="true"
              respawn="$(arg respawn)">
          <param name="queue_size" value="$(arg queue_size)" />
          <remap from="left/image_rect" to="left_camera/image_rect_color" />
          <remap from="left/camera_info" to="left_camera/camera_info" />
          <remap from="right/image_rect" to="right_camera/image_rect_color" />
          <remap from="right/camera_info" to="right_camera/camera_info" />
          <rosparam subst_value="true" >
            disparity_range: 64
            queue_size: $(arg queue_size)
          </rosparam>
        </node>

        <node name="point_cloud"
              pkg="nodelet" type="nodelet"
              args="load stereo_image_proc/point_cloud2 /$(arg ns)/$(arg camera_name)/$(arg manager)"
              clear_params="true"
              respawn="$(arg respawn)">
          <param name="queue_size" value="$(arg queue_size)" />
          <remap from="left/image_rect_color" to="left_camera/image_rect_color" />
          <remap from="left/camera_info" to="left_camera/camera_info" />
          <remap from="right/camera_info" to="right_camera/camera_info" />
          <remap from="points2" to="points" />
          <rosparam subst_value="true" >
            queue_size: $(arg queue_size)
          </rosparam>
        </node>
      </group>

    </group>
  </group>

  <group if="$(arg gui)" >
    <node name="$(anon rviz)"
         pkg="rviz" type="rviz"
         args="-d $(find stereo_image_sandbox)/launch/rviz/default.rviz" >
    </node>
  </group>

</launch>
