<launch>
  <arg name="camera_name" value="stereo" />
  <arg name="vendor" value="0x32e4" />
  <arg name="product" value="0x9750" />
  <arg name="height" value="240" />
  <arg name="width" value="640" />
  <arg name="video_mode" value="mjpeg" />
  <arg name="frame_rate" value="30" />
  <arg name="brightness" value="0" />
  <arg name="gui" default="true" />
  <arg name="frame_id" default="$(arg camera_name)_link" />

  <!-- Worker threads for the nodelet manager -->
  <arg name="num_worker_threads" default="4" />

  <arg name="queue_size" default="5" />

  <arg name="respawn" default="false" />
  <arg name="stereo_proc" default="true" />

  <group ns="$(arg camera_name)">
	  <!-- Start nodelet manager -->
	  <arg name="manager" value="$(arg camera_name)_nodelet_manager" />
	  <arg name="debug" default="false" />
	  <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
	    <arg name="name" value="$(arg manager)" />
	    <arg name="debug" value="$(arg debug)" />
	    <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
	  </include>

    <node name="camera_driver"
          pkg="nodelet" type="nodelet"
          args="load libuvc_camera/driver $(arg manager)"
          clear_params="true">
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="vendor" value="$(arg vendor)" />
      <param name="product" value="$(arg product)" />
      <param name="height" value="$(arg height)" />
      <param name="width" value="$(arg width)" />
      <param name="video_mode" value="$(arg video_mode)" />
      <param name="frame_rate" value="$(arg frame_rate)" />
      <param name="brightness" value="$(arg brightness)" />
      <param name="time_method" value="start" />
      <param name="auto_exposure" value="1" />
      <param name="auto_white_balance" value="true" />
    </node>

    <node name="throttle_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_topic_tools/LightweightThrottle $(arg manager)"
          clear_params="true" >
      <remap from="~input" to="image_raw" />
      <remap from="~output" to="throttled/image_raw" />
      <rosparam>
        update_rate: 1
      </rosparam>
    </node>

    <node name="split_image"
          pkg="nodelet" type="nodelet"
          args="load stereo_image_sandbox/split_image $(arg manager)"
          clear_params="true">
      <remap from="~input" to="throttled/image_raw" />
      <remap from="~output/vertical00/horizontal00" to="left_camera/image_raw" />
      <remap from="~output/vertical00/horizontal01" to="right_camera/image_raw" />
      <rosparam subst_value="true">
        vertical_parts: 1
        horizontal_parts: 2
        vertical00/horizontal00/camera_info_url: file://$(find stereo_image_sandbox)/calibdata/left.yaml
        vertical00/horizontal00/frame_id: "left_camera"
        vertical00/horizontal01/frame_id: "left_camera"
        vertical00/horizontal01/camera_info_url: file://$(find stereo_image_sandbox)/calibdata/right.yaml
      </rosparam>
    </node>

    <group ns="left_camera" >
      <node name="rectify_color"
            pkg="nodelet" type="nodelet"
            args="load image_proc/rectify /$(arg camera_name)/$(arg manager)"
            respawn="$(arg respawn)">
        <param name="queue_size" value="$(arg queue_size)" />
        <remap from="image_mono" to="image_raw" />
        <remap from="image_rect" to="image_rect_color" />
      </node>
    </group>

    <group ns="right_camera" >
      <node name="rectify_color"
            pkg="nodelet" type="nodelet"
            args="load image_proc/rectify /$(arg camera_name)/$(arg manager)"
            respawn="$(arg respawn)">
        <param name="queue_size" value="$(arg queue_size)" />
        <remap from="image_mono" to="image_raw" />
        <remap from="image_rect" to="image_rect_color" />
      </node>
    </group>

    <group if="$(arg stereo_proc)" >
      <node name="disparity"
            pkg="nodelet" type="nodelet"
            args="load stereo_image_proc/disparity $(arg manager)"
            clear_params="true"
            respawn="$(arg respawn)">
        <param name="queue_size" value="$(arg queue_size)" />
        <remap from="left/image_rect" to="left_camera/image_rect_color" />
        <remap from="left/camera_info" to="left_camera/camera_info" />
        <remap from="right/image_rect" to="right_camera/image_rect_color" />
        <remap from="right/camera_info" to="right_camera/camera_info" />
        <rosparam subst_value="true" >
          disparity_range: 64
          queue_size: $(arg queue_size)
        </rosparam>
      </node>

      <node name="point_cloud"
            pkg="nodelet" type="nodelet"
            args="load stereo_image_proc/point_cloud2 $(arg manager)"
            clear_params="true"
            respawn="$(arg respawn)">
        <param name="queue_size" value="$(arg queue_size)" />
        <remap from="left/image_rect_color" to="left_camera/image_rect_color" />
        <remap from="left/camera_info" to="left_camera/camera_info" />
        <remap from="right/camera_info" to="right_camera/camera_info" />
        <remap from="points2" to="points" />
        <rosparam subst_value="true" >
          queue_size: $(arg queue_size)
        </rosparam>
      </node>
    </group>

  </group>

  <node name="camera_respawner"
        pkg="stereo_image_sandbox" type="camera_respawner.py"
        output="screen"
        respawn="true"
        clear_params="true" >
  </node>

  <group if="$(arg gui)" >
    <group ns="$(arg camera_name)" >
      <group ns="left_camera" >
        <node name="image_view"
              pkg="image_view" type="image_view"
              args="image:=image_raw" />
      </group>

      <group ns="right_camera" >
        <node name="image_view"
              pkg="image_view" type="image_view"
              args="image:=image_raw" />
      </group>

      <node name="image_view_disparity"
            pkg="image_view" type="disparity_view"
            args="image:=disparity" />
    </group>

    <node name="$(anon rviz)"
          pkg="rviz" type="rviz"
          args="-d $(find stereo_image_sandbox)/config/default.rviz" />
  </group>

</launch>
