[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Camera Viewer
Type=Application
Exec=/usr/bin/xterm -T "Camera Viewer" -e "export PS1=leus; source ~/.bashrc; rossethrp2017; rviz -d `rospack find drc_task_common`/config/hrp2017_camera.rviz"
TryExec=
Icon=/opt/ros/hydro/share/rviz/icons/package.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=Camera Viewer
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
