[Desktop Entry]
Name=Field Computer Main From Operator
GenericName=Field Computer Main From Operator
Comment=Field Computer Main From Operator
Icon=/usr/share/icons/gnome/48x48/actions/call-start.png
Keywords=Science;Education;Robotics;Robot;
Exec=/usr/bin/xterm -T "Field Computer Main" -e "ssh jskuser@fuji 'export PS1=hrpuser; source ~/.bashrc && roslaunch drc_task_common field_computer_main.launch'"
Terminal=
Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=leus
