[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MiniMaxwell Client
Type=Application
Exec=/usr/bin/xterm -T "MiniMaxwell Client" -e "export PS1=leus; source ~/.bashrc; rossetlocal; rosrun mini_maxwell ros_client.py _ip:=133.11.216.47 _rate_limit:=100000000 _round_trip:=0"
TryExec=
Icon=/usr/share/icons/gnome/48x48/status/network-wired-disconnected.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=MiniMaxwell Client
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
