[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Operator Station Sub
Type=Application
Exec=/usr/bin/xterm -T "Operator Station Sub" -e "export PS1=leus; source ~/.bashrc; rossethrp2017; roslaunch drc_task_common operator_station_sub.launch"
TryExec=
Icon=/usr/share/icons/gnome/48x48/actions/call-start.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=Operator Station Sub
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
