[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Operator State Viewer
Type=Application
Exec=/usr/bin/xterm -T "Operator State Viewer" -e "rossetlocal; roslaunch drc_task_common operator_station.launch"
TryExec=
Icon=/opt/ros/hydro/share/rviz/icons/package.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=Operator State Viewer
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
