[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Operator Station Main
Type=Application
Exec=/usr/bin/xterm -T "Operator Station Main" -e "export PS1=leus; source ~/.bashrc; rossetocs; roslaunch drc_task_common operator_station_main.launch"
TryExec=
Icon=/usr/share/icons/gnome/48x48/actions/call-start.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=Operator Station Main
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
