[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Speaker Test
Type=Application
Exec=/usr/bin/xterm -T "Speaker Test" -e "mplayer 'http://translate.google.com/translate_tts?tl=en&q=Speaker\ Test'"
TryExec=
Icon=/usr/share/icons/gnome/48x48/status/audio-volume-high.png
X-GNOME-DocPath=
Terminal=false
Name[en_AU]=Speaker Test
GenericName[en_AU]=
Comment[en_AU]=
GenericName=
Comment=
