<launch>
  <include file="$(find diabolo_pr2_201806)/launch/relay_kinect.launch"/>
  
  <node name="tf_transform_cloud" pkg="jsk_pcl_ros" type="tf_transform_cloud">
    <remap from="~input" to="kinect_head_remote/depth_registered/points" />
    <param name="~target_frame_id" value="base_footprint"/>
  </node>

  <node name="calc_idle_diabolo_state" pkg="diabolo_pr2_201806" type="calc_idle_diabolo_state" />
</launch>
