<launch>
  <!-- valve detection -->
  <include file="$(find drc_task_common)/launch/object_detect.launch" />

  <!-- valve model -->
  <include file="$(find drc_valve_task)/launch/valve_model.launch" />

  <!-- hrp2 interactive marker -->
  <include file="$(find drc_task_common)/launch/hrp2_interactive_marker.launch" />

  <!-- robot motion -->
  <include file="$(find drc_valve_task)/launch/valve_motion.launch" />

</launch>
