<launch>

  <!-- publish valve marker topic -->
  <node pkg="drc_valve_task" type="variable-model-publisher.l" name="variable_model_publisher" />

  <!-- publish valve tf -->
  <node pkg="drc_valve_task" type="publish-valve-tf.l" name="publish_valve_tf" />

  <!-- publish nanokontrol joy topic -->
  <node pkg="jsk_teleop_joy" type="nanokontrol_joy.py" name="nanokontrol_joy"
        args="3" />

  <!-- publish valve configuration such as size and width -->
  <node pkg="drc_valve_task" type="publish-valve-configuration.py" name="publish_valve_configration" />

  <!-- space nave daemon should be launched as root -->
  <!-- <node pkg="drc_valve_task" type="spacenav.sh" name="spacenav_joy" /> -->

</launch>
