<launch>

    <node
        pkg="spot_person_leader"
        type="lead_person_demo.py"
        name="spot_person_leader"
        output="screen"
        >
        <!-- Action Client -->
        <remap from="~lead_person" to="/spot/lead_person" />

        <remap from="~visible" to="/person_tracker/visible" />

        <rosparam
            ns="map"
            file="$(find spot_person_leader)/config/map.yaml"
            subst_value="true"
            />

        <rosparam subst_value="true">
            initial_node: '73B2'
            duration_visible_timeout: 10.0
        </rosparam>
    </node>


    <!-- switchbot_ros -->
    <node
        pkg="switchbot_ros"
        type="switchbot_ros_server.py"
        name="switchbot_ros"
        output="screen">
        <rosparam
            command="load"
            file="$(find spot_person_leader)/config/switchbot_ros/token.yaml"
            />
    </node>

    <include
        file="$(find spot_person_leader)/launch/detections/common_detection.launch" />
</launch>
