<launch>
  <include file="$(find drc_task_common)/launch/deprecated/drc_task_common.launch" >
    <arg name="robot_name" value="staro" />
    <arg name="ROBOT_URDF_MODEL" value="$(find hrpsys_ros_bridge_tutorials)/models/STARO.urdf.xacro" />
    <arg name="robot_model_config" value="$(find drc_task_common)/config/staro_interactive_marker.yaml" />
    <arg name="ik_server_launch" value="staro-ik-server.launch" />
    <arg name="trackball_head_launch" value="hrp2_trackball_head.launch" />
    <arg name="multi_plane_segmentation_input" value="/multisense/resize_1_4/points" />
    <arg name="multi_plane_segmentation_base_frame_id" value="multisense/head_root" />
  </include>
</launch>
