google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
protobuf==5.28.3
grpcio==1.67.1
grpcio-status==1.67.1
#
speechrecognition
gtts
