<launch>
  <arg name="bag" />
  <param name="robot_description" textfile="$(find hrpsys_ros_bridge_tutorials)/models/JAXON_RED_WH_SENSORS.urdf"
         type="str"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find drc_task_common)/config/door/record.rviz"
        launch-prefix="glc-capture --start -o $(arg bag).glc"/>
  <node pkg="rosbag" type="play" args="$(arg bag) -d 30" name="rosbag" />
</launch>
