<launch>

  <arg name="launch_face_detection" default="true"
       doc="Currently face_detection is not launch in fetch"/>
  <arg name="launch_julius" default="false"
       doc="Currently julius is launch in fetch"/>
  <arg name="rviz" default="true"
       doc="Path to rosbag file path to be recorded. If not empty, fetch records rosbag."/>
  <arg name="rosbag" default=""
       doc="Path to rosbag file path to be recorded. If not empty, fetch records rosbag."/>

  <node pkg="welcome_to_jsk_fetch" type="guide.l" name="guide" output="screen"
        args="&quot;(main)&quot;"
        required="true" />

  <include if="$(arg launch_face_detection)"
           file="$(find opencv_apps)/launch/face_detection.launch">
    <arg name="image" value="/head_camera/rgb/image_rect_color" />
    <arg name="debug_view" value="false" />
  </include>

  <include if="$(arg launch_julius)" file="$(find julius_ros)/launch/julius.launch">
    <arg name="launch_audio_capture" value="false"/>
    <arg name="launch_sound_play" value="false"/>
    <arg name="speech_to_text_topic" value="speech_to_text_julius"/>
  </include>

  <include file="$(find welcome_to_jsk_fetch)/launch/people_detection.launch" >
  </include>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" if="$(arg rviz)"
        args="-d $(find jsk_fetch_startup)/config/jsk_startup_record.rviz">
    <env name="DISPLAY" value=":0" />
    <env name="HOME" value="/home/fetch" />
  </node>

  <include unless="$(eval rosbag=='')"
           file="$(find jsk_fetch_startup)/launch/rosbag_record.launch">
    <arg name="rosbag" value="$(arg rosbag)" />
  </include>

</launch>
