<launch>
    <!-- door frames definitions -->
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="elevator_1f_door_frame_publisher"
        args="2.3 -33 1 1.57 0 0 eng2/1f eng2/1f/elevator_door"
        />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="elevator_3f_door_frame_publisher"
        args="2 -32.5 1 1.57 0 0 eng2/3f eng2/3f/elevator_door"
        />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="elevator_7f_door_frame_publisher"
        args="2 -32.8 1 1.57 0 0 eng2/7f eng2/7f/elevator_door"
        />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="elevator_7f_inside_panel_frame_publisher"
        args="2.9 -33.85 1 0 0 0 eng2/7f eng2/7f/elevator_inside_panel"
        />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="static_73b2_frame_publisher"
        args="0 -0.6 1 0 0 0 eng2/7f/73B2 eng2/7f/73B2/door"
        />
</launch>
