<launch>
    <arg name="ROSBAG_FILE" />

    <node
        pkg="rosbag"
        type="record"
        name="elevator_operation_rosbag_record"
        output="screen"
        args="-O $(arg ROSBAG_FILE)
        /camera/depth_registered/points
        /head_camera/depth_registered/points
        /rosout
        /tf
        /tf_static
        /map
        /odom
        /odom_combined
        /elevator_operation/elevator_door_points
        /elevator_door_opening_checker/output
        /spinal/imu
        /spinal/baro
        /lowpass_filter/output
        /change_floor_server/input
        "
        />
</launch>
