<launch>
  <arg name="INPUT_IMAGE" default="/multisense/left/image_rect_color"/>
  <arg name="INPUT_CAMERA_INFO" default="/multisense/left/camera_info"/>
  <arg name="INPUT_POINT_CLOUD" default="/multisense/organized_image_points2_color" />
  <arg name="INPUT_HINT_POINT_CLOUD" default="/multisense/organized_image_points2_color" />
  <arg name="DEBUG_VIEW" default="false" />
  <group ns="drill_recognition_for_put">
    <node pkg="jsk_perception" type="rect_to_mask_image"
          name="rect_to_mask_image" output="screen">
      <remap from="~input" to="input_rect" />
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="jsk_pcl_ros" type="mask_image_filter" name="mask_image_filter">
      <remap from="~input" to="$(arg INPUT_HINT_POINT_CLOUD)"/>
      <remap from="~input/mask" to="rect_to_mask_image/output"/>
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="filtered_cloud"
          args="standalone pcl/ExtractIndices">
      <remap from="~input" to="$(arg INPUT_HINT_POINT_CLOUD)"/>
      <remap from="~indices" to="mask_image_filter/output"/>
    </node>
    <node pkg="jsk_pcl_ros" type="hinted_plane_detector" name="plane_detector"
          output="screen">
      <remap from="~input" to="$(arg INPUT_POINT_CLOUD)" />
      <remap from="~input/hint/cloud" to="filtered_cloud/output" />
    </node>
    <node pkg="drc_task_common" type="polygon_to_center_pose.py" name="polygon_to_center_pose">
      <remap from="polygon" to="plane_detector/output/hint/polygon" />
    </node>
    <node pkg="jsk_topic_tools" type="snapshot" name="snapshot">
      <remap from="~input" to="plane_centroid_pose"/>
      <rosparam>
        latch: true
      </rosparam>
    </node>
    <node pkg="jsk_topic_tools" type="snapshot_for_push" name="snapshot_for_push">
      <remap from="~input" to="plane_centroid_pose"/>
      <rosparam>
        latch: true
      </rosparam>
    </node>
  </group>
</launch>
