<launch>
  <arg name="INPUT_IMAGE" default="/multisense/left/image_rect_color"/>
  <arg name="INPUT_CAMERA_INFO" default="/multisense/left/camera_info"/>
  <arg name="INPUT_POINT_CLOUD" default="/multisense/resize_1_4/points" />
  <arg name="INPUT_HINT_POINT_CLOUD" default="/multisense/resize_1_4/points" />
  <arg name="DEBUG_VIEW" default="false" />
  <group ns="drill_recognition_for_put">
    <node pkg="jsk_topic_tools" type="standalone_complexed_nodelet"
          name="manager" respawn="true" output="log">
      <rosparam subst_value="true">
nodelets:
  - name: rect_to_mask_image
    type: jsk_perception/RectToMaskImage
    remappings:
      - from: ~input
        to: input_rect
      - from: ~input/camera_info
        to: $(arg INPUT_CAMERA_INFO)
  - name: mask_image_filter
    type: jsk_pcl/MaskImageFilter
    remappings:
      - from: ~input
        to: $(arg INPUT_HINT_POINT_CLOUD)
      - from: ~input/mask
        to: rect_to_mask_image/output
      - from: ~input/camera_info
        to: $(arg INPUT_CAMERA_INFO)
  - name: filtered_cloud
    type: pcl/ExtractIndices
    remappings:
      - from: ~input
        to: $(arg INPUT_HINT_POINT_CLOUD)
      - from: ~indices
        to: mask_image_filter/output
  - name: plane_detector
    type: jsk_pcl/HintedPlaneDetector
    remappings:
      - from: ~input
        to: $(arg INPUT_POINT_CLOUD)
      - from: ~input/hint/cloud
        to: filtered_cloud/output
  - name: snapshot
    type: jsk_topic_tools/Snapshot
    remappings:
      - from: ~input
        to: plane_centroid_pose
  - name: snapshot_for_push
    type: jsk_topic_tools/Snapshot
    remappings:
      - from: ~input
        to: plane_centroid_pose
      </rosparam>
    </node>
    <group ns="snapshot">
      <rosparam>
        latch: true
      </rosparam>
    </group>
    <group ns="snapshot_for_push">
      <rosparam>
        latch: true
      </rosparam>
    </group>
    <node pkg="drc_task_common" type="polygon_to_center_pose.py" name="polygon_to_center_pose">
      <remap from="polygon" to="plane_detector/output/hint/polygon" />
    </node>
  </group>
</launch>
