<launch>
  <arg name="INPUT_IMAGE" default="/multisense/left/image_rect_color"/>
  <arg name="INPUT_CAMERA_INFO" default="/multisense/left/camera_info"/>
  <arg name="INPUT_POINT_CLOUD" default="/multisense/resize_1_4/points" />
  <arg name="INPUT_HINT_POINT_CLOUD" default="/multisense/resize_1_4/points" />
  <arg name="DEBUG_VIEW" default="false" />
  <group ns="drill_recognition_for_put">
    <node pkg="nodelet" type="nodelet" name="manager"
          args="manager" />
    <node pkg="nodelet" type="nodelet"
          name="rect_to_mask_image" 
          args="load jsk_perception/RectToMaskImage manager"
          output="screen">
      <remap from="~input" to="input_rect" />
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="mask_image_filter"
          args="load jsk_pcl/MaskImageFilter manager">
      <remap from="~input" to="$(arg INPUT_HINT_POINT_CLOUD)"/>
      <remap from="~input/mask" to="rect_to_mask_image/output"/>
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="filtered_cloud"
          args="load pcl/ExtractIndices manager">
      <remap from="~input" to="$(arg INPUT_HINT_POINT_CLOUD)"/>
      <remap from="~indices" to="mask_image_filter/output"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="plane_detector"
          args="load jsk_pcl/HintedPlaneDetector manager"
          output="screen">
      <remap from="~input" to="$(arg INPUT_POINT_CLOUD)" />
      <remap from="~input/hint/cloud" to="filtered_cloud/output" />
    </node>
    <node pkg="drc_task_common" type="polygon_to_center_pose.py" name="polygon_to_center_pose">
      <remap from="polygon" to="plane_detector/output/hint/polygon" />
    </node>
    <node pkg="nodelet" type="nodelet" name="snapshot"
          args="load jsk_topic_tools/Snapshot manager">
      <remap from="~input" to="plane_centroid_pose"/>
      <rosparam>
        latch: true
      </rosparam>
    </node>
    <node pkg="jsk_topic_tools" type="snapshot" name="snapshot_for_push">
      <remap from="~input" to="plane_centroid_pose"/>
      <rosparam>
        latch: true
      </rosparam>
    </node>
  </group>
</launch>
