<launch>
  <group ns="communication">
    <node pkg="drc_task_common" type="robot_idle_watch.py" name="robot_idle_watch">
    </node>
  </group>
  <!-- reconfigure -->
  <node pkg="drc_task_common" name="fc_dynamic_reconfigure" type="fc_dynamic_reconfigure.py" />

  <node pkg="drc_task_common" type="fc-basic-info-publisher.l" name="fc_basic_info_publisher" respawn="true"
        output="screen">
  </node>
  <include file="$(find drc_task_common)/launch/fc/keyshot.launch">
  </include>
</launch>
