<launch>
  <arg name="REFINE_FOOTSTEP" default="true" />
  <arg name="USE_JAXON" default="false" />
  <arg name="USE_HRP2JSK" default="true" />
  <arg name="USE_HRP2JSKNT" default="false" />

  <group>
    <!-- Footstep planner -->
    <node pkg="jsk_footstep_planner"
          type="footstep-planner-node.l"
          name="footstep_planner"
          respawn="false"
          cwd="node"
          output="screen">
      <rosparam command="load" file="$(find jsk_footstep_controller)/config/jaxon.yaml" />
      <remap from="planes" to="/env_server/occlusion_result_polygons" />
      <rosparam subst_value="true">
        use_planes: false
        use_env_server: true
        use_gui: true
        timeout: 20.0
        global_frame_id: ground
      </rosparam>
      <param name="parameter_file"
             value="package://jsk_footstep_planner/config/jaxon_param.l"
             if="$(arg USE_JAXON)" />
      <param name="parameter_file"
             value="package://jsk_footstep_planner/config/hrp2jsk_param.l"
             if="$(arg USE_HRP2JSK)" />
      <remap from="grid_maps" to="/locomotion/env_server/output" />
      <remap from="footstep_planner/result" to="footstep_planner/result_non_refined" if="$(arg REFINE_FOOTSTEP)"/>
    </node>
    <!-- marker -->
    <node pkg="jsk_interactive_marker"
          type="footstep_marker"
          name="footstep_marker"
          output="screen"
          >
      <remap from="~grid_arrays" to="/locomotion/env_server/output" />
      <remap from="~planes_coefficients" to="/locomotion/plane_concatenator/output/coefficients" />
      <!-- <remap from="move_marker" to="$(arg POSE_REMAP)" /> -->
      <!-- <param name="wait_snapit_server" value="false" /> -->
      <rosparam command="load" file="$(find jsk_footstep_controller)/config/jaxon.yaml" />
      <remap from="project_footprint" to="/footstep_planner/project_footprint" />
      <rosparam>
        use_plane_snap: true
        use_projection_service: true
        use_footstep_planner: true
        use_footstep_controller: true
        use_initial_footstep_tf: true
        initial_reference_frame: '/ground'
        # HRP2JSK
        foot_size_x: 0.235
        lfoot_offset: [0.02, 0.01, -0.105, 0, 0, 0, 1]
        rfoot_offset: [0.02, -0.01, -0.105, 0, 0, 0, 1]
        
        foot_size_z: 0.01
      </rosparam>
      <rosparam if="$(arg USE_HRP2JSK)">
        footstep_margin: 0.21
      </rosparam>
      <rosparam if="$(arg USE_JAXON)">
        footstep_margin: 0.20
      </rosparam>
      <param name="frame_id" value="/ground" />
    </node>
    <!-- controller -->
    <node pkg="jsk_footstep_controller"
          type="footstep-controller.l"
          name="footstep_controller"
          respawn="true"
          clear_params="true"
          output="screen">
      <rosparam subst_value="true">
        interruptible_mode: ":semi-interruptible"
      </rosparam>
    </node>
    <node pkg="jsk_footstep_controller" type="footstep-refinement.l"
          name="footstep_refinement" if="$(arg REFINE_FOOTSTEP)">
      <remap from="planner_result" to="footstep_planner/result_non_refined"/>
      <remap from="refined_footstep_result" to="footstep_planner/result" />
    </node>
    <node pkg="jsk_footstep_controller" type="footstep-overlay-text.l"
          name="footstep_overlay_text">
    </node>
    <node pkg="roseus" type="roseus" name="lookaround_ground"
          args="$(find jsk_footstep_controller)/euslisp/lookaround-ground.l">
    </node>
  </group>
</launch>
