<launch>
  <arg name="INPUT_POINT_CLOUD" default="/laser_downsampler/output" />
  <arg name="MULTISENSE_STANDALONE" default="false" />
  <arg name="USE_JAXON" default="false" />
  <arg name="USE_HRP2JSK" default="true" />
  <arg name="USE_HRP2JSKNT" default="false" />
  <group ns="locomotion">
    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen"/>

    <!-- Before that, add input snapshot -->
    <node pkg="nodelet" type="nodelet"
          name="input"
          args="load jsk_topic_tools/Snapshot manager">
      <remap from="~input" to="$(arg INPUT_POINT_CLOUD)" />
    </node>
    <node pkg="nodelet" type="nodelet"
          name="gsensor_cloud"
          args="load jsk_pcl/TfTransformCloud manager">
      <remap from="~input" to="input/output" />
      <rosparam>
        target_frame_id: ground
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="x_filter"
          args="load pcl/PassThrough manager">
      <remap from="~input" to="gsensor_cloud/output" />
      <rosparam>
        filter_field_name: x
        filter_limit_min: -1
        filter_limit_max: 1
        filter_limit_negative: false
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="y_filter"
          args="load pcl/PassThrough manager">
      <remap from="~input" to="x_filter/output" />
      <rosparam>
        filter_field_name: y
        filter_limit_min: -0.5
        filter_limit_max: 0.5
        filter_limit_negative: false
      </rosparam>
    </node>

    <!-- first, remove upper pointcloud -->
    <node pkg="nodelet" type="nodelet"
          name="z_filter"
          args="load pcl/PassThrough manager">
      <remap from="~input" to="y_filter/output" />
      <rosparam>
        filter_field_name: z
        filter_limit_negative: true
      </rosparam>
      <rosparam unless="$(arg MULTISENSE_STANDALONE)">
        filter_limit_min: 0.8
        filter_limit_max: 100.0
      </rosparam>
      <param name="input_frame" value="multisense/head_root"
             if="$(arg MULTISENSE_STANDALONE)"/>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="remove_outlier"
          args="load pcl/RadiusOutlierRemoval manager">
      <remap from="~input" to="z_filter/output" />
      <rosparam>
        radius_search: 0.05
        min_neighbors: 10
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="odom_cloud"
          args="load jsk_pcl/TfTransformCloud manager">
      <remap from="~input" to="remove_outlier/output" />
      <rosparam>
        target_frame_id: ground
      </rosparam>
    </node>
    
    <node pkg="drc_task_common" type="robot-boundingbox.l" name="robot_bbox">
      <rosparam>
        analysis_level: each_link
        padding_x: 0.00
        padding_y: 0.05
        use_x: false
      </rosparam>
    </node>
    <node pkg="drc_task_common" type="robot-boundingbox.l" name="robot_leg_bbox" if="false">
      <remap from="/robot_bbox" to="/robot_legs_bbox" />
      <remap from="/robot_bbox_array" to="/robot_legs_bbox_array" />
      <rosparam>
        padding_z: 0.1 # 10cm padding
        padding_y: 0.1 # 40cm padding
        padding_x: 0.1 # 10cm padding
        links: ["RLEG_LINK0", "RLEG_LINK1", "RLEG_LINK2", "RLEG_LINK3", "RLEG_LINK4", "RLEG_LINK5",
                "LLEG_LINK0", "LLEG_LINK1", "LLEG_LINK2", "LLEG_LINK3", "LLEG_LINK4", "LLEG_LINK5"]
      </rosparam>
    </node>

    <include file="$(find jsk_footstep_planner)/launch/hrp2jsk_footprint.launch">
      <arg name="INPUT_POINTCLOUD" value="odom_cloud/output" />
    </include>

    <node pkg="jsk_pcl_ros" type="polygon_array_transformer" name="footprint_respected_to_map">
      <remap from="~input_polygons" to="footprint_polygon_publisher/output_polygons" />
      <remap from="~input_coefficients" to="footprint_polygon_publisher/output_coefficients" />
      <rosparam>
        frame_id: ground
      </rosparam>
    </node>

    <node pkg="jsk_pcl_ros" type="polygon_magnifier" name="footprint_magnifier">
      <remap from="~input" to="footprint_respected_to_map/output_polygons" />
      <rosparam>
        magnify_distance: 0.5
      </rosparam>
    </node>

    <node pkg="jsk_pcl_ros" type="multi_plane_extraction" name="footprint_point_extraction">
      <remap from="~input" to="odom_cloud/output" />
      <remap from="~input_polygons" to="footprint_magnifier/output" />
      <remap from="~input_coefficients" to="footprint_polygon_publisher/output_coefficients" />
      <rosparam>
        use_indices: false
        use_async: true
        min_height: -0.1
        max_height: 0.1
      </rosparam>
    </node>

    <node pkg="jsk_pcl_ros" type="polygon_magnifier" name="footprint_magnifier_for_point_sampler">
      <remap from="~input" to="footprint_respected_to_map/output_polygons" />
      <rosparam>
        magnify_distance: 0.04
      </rosparam>
    </node>

    
    <node pkg="jsk_pcl_ros" type="polygon_points_sampler" name="footprint_point_sampler">
      <remap from="~input/polygons" to="footprint_magnifier_for_point_sampler/output" />
      <remap from="~input/coefficients" to="footprint_respected_to_map/output_coefficients" />
      <rosparam>
      </rosparam>
    </node>
    
    <node pkg="jsk_pcl_ros" type="add_point_indices" name="add_point_indices">
      <remap from="~input/src1" to="laser_self_filter/output/point_indices" />
      <remap from="~input/src2" to="footprint_point_extraction/output/indices" />

    </node>
    
    <node pkg="nodelet" type="nodelet" name="laser_self_filter_points"
          args="load pcl/ExtractIndices manager">
      <remap from="~input" to="odom_cloud/output" />
      <remap from="~indices" to="add_point_indices/output" />
      <rosparam>
        negative: false
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="normal_estimation"
          args="load jsk_pcl/NormalEstimationOMP manager">
      <remap from="~input" to="laser_self_filter_points/output"/>
      <rosparam>
        k_search: 0
        radius_search: 0.05
        spatial_locator: 0
      </rosparam>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="normal_concat"
          args="load jsk_pcl/NormalConcatenater manager">
      <remap from="~input" to="laser_self_filter_points/output" />
      <remap from="~normal" to="normal_estimation/output" />
      <rosparam>
        use_async: false
      </rosparam>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="pointcloud_concatenator"
          args="load pcl/PointCloudConcatenateDataSynchronizer manager">
      <rosparam>
        input_topics: ["/locomotion/normal_concat/output", "/locomotion/footprint_point_sampler/output"]
        output_frame: ground
        max_queue_size: 50
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="normal_flip"
          args="load jsk_pcl/NormalFlipToFrame manager">
      <remap from="~input" to="pointcloud_concatenator/output" />
      <rosparam>
        frame_id: head_root
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          name="laser_self_filter"
          args="load jsk_pcl/AttentionClipper manager">
      <remap from="~input/points" to="odom_cloud/output" />
      <remap from="~input/box_array" to="/robot_bbox_array" />
      <rosparam>
        use_multiple_attention: true
        not_sync: true
        negative: true
        frame_id: BODY
      </rosparam>
      <param name="frame_id" value="multisense/head_root"
             if="$(arg MULTISENSE_STANDALONE)" />
    </node>
    
    <!-- plane estimation -->
    <node pkg="nodelet" type="nodelet" name="normal_direction_filter"
          args="load jsk_pcl/NormalDirectionFilter manager">
      <remap from="~input" to="normal_flip/output" />
      <remap from="~input_imu" to="/multisense/imu/imu_data" />
      <rosparam>
        queue_size: 2000
        use_imu: true
        eps_angle: 0.5 # too large?
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="normal_filtered_points"
          args="load pcl/ExtractIndices manager">
      <remap from="~input" to="normal_flip/output" />
      <remap from="~indices" to="normal_direction_filter/output" />
      <rosparam>
        negative: false
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="plane_estimation"
          args="load jsk_pcl/RegionGrowingMultiplePlaneSegmentation manager" >
      <remap from="~input" to="normal_filtered_points/output" />
      <remap from="~input_normal" to="normal_filtered_points/output" />
      <rosparam>
        max_size: 50000
        min_size: 200
        angular_threshold: 0.01
        distance_threshold: 0.01
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="plane_concatenator"
          args="load jsk_pcl/PlaneConcatenator manager" >
      <remap from="~input" to="normal_filtered_points/output" />
      <remap from="~input/indices" to="plane_estimation/output/inliers" />
      <remap from="~input/polygons" to="plane_estimation/output/polygons" />
      <remap from="~input/coefficients" to="plane_estimation/output/coefficients" />
      <rosparam>
      </rosparam>
    </node>
    
    <node pkg="jsk_pcl_ros" type="environment_plane_modeling" name="env_server" output="screen">
      <remap from="~input" to="normal_filtered_points/output"/>
      <remap from="~input/full_cloud" to="normal_flip/output" />
      <!-- <remap from="~input/full_cloud" to="normal_filtered_points/output" /> -->
      <remap from="~input/polygons" to="plane_concatenator/output/polygons" />
      <remap from="~input/indices" to="plane_concatenator/output/indices" />
      <remap from="~input/coefficients" to="plane_concatenator/output/coefficients" />
      <remap from="~input/leg_bounding_box" to="/robot_legs_bbox" />
      <rosparam>
        resolution: 0.01
        complete_footprint_region: false
        morphological_filter_size: 2
        # distance_threshold: 0.005
        distance_threshold: 0.02 # for jaxon
        magnify_distance: 0.05
        normal_threshold: 0.1
        erode_filter_size: 1
        footprint_frames: ["lleg_end_coords", "rleg_end_coords"]
      </rosparam>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="obstacle_cloud"
          args="load pcl/ExtractIndices manager" >
      <remap from="~input" to="normal_flip/output" />
      <remap from="~indices" to="env_server/output/non_plane_indices" />
      <rosparam>
        negative: true
      </rosparam>
    </node>
  </group>
</launch>
