<launch>
  <arg name="INPUT_POINT_CLOUD" default="/laser_downsampler/output" />
  <arg name="MULTISENSE_STANDALONE" default="false" />
  <arg if="$(arg MULTISENSE_STANDALONE)"
      name="input_imu" value="/multisense/imu/imu_data" />
  <arg unless="$(arg MULTISENSE_STANDALONE)"
      name="input_imu" value="/imu" />
  <arg name="RUN_SELF_FILTER" default="false" />
  <arg if="$(arg RUN_SELF_FILTER)"
       name="SELF_FILTER_PARAM" default="$(find jsk_hrp2_ros_bridge)/config/$(env ROBOT)_self_filter.yaml" />

  <group ns="locomotion">
    <node if="$(arg RUN_SELF_FILTER)"
          pkg="pr2_navigation_self_filter" type="self_filter"
          name="locomotion_self_filter" output="screen">
      <remap from="cloud_in" to="$(arg INPUT_POINT_CLOUD)" />
      <remap from="cloud_out" to="locomotion_self_filter/output" />
      <rosparam command="load" file="$(arg SELF_FILTER_PARAM)" />
    </node>
    <node pkg="jsk_topic_tools" type="snapshot" name="input">
      <remap unless="$(arg RUN_SELF_FILTER)"
             from="~input" to="$(arg INPUT_POINT_CLOUD)" />
      <remap if="$(arg RUN_SELF_FILTER)"
             from="~input" to="locomotion_self_filter/output" />
    </node>
    <node pkg="jsk_topic_tools" type="standalone_complexed_nodelet"
          name="manager" respawn="true" output="log">
      <rosparam subst_value="true">

nodelets:
  - name: gsensor_cloud
    type: jsk_pcl/TfTransformCloud
    remappings:
      - from: ~input
        to: input/output
  - name: x_filter
    type: pcl/PassThrough
    remappings:
      - from: ~input
        to: gsensor_cloud/output
  - name: y_filter
    type: pcl/PassThrough
    remappings:
      - from: ~input
        to: x_filter/output
  - name: z_filter
    type: pcl/PassThrough
    remappings:
      - from: ~input
        to: y_filter/output
  - name: remove_outlier
    type: pcl/RadiusOutlierRemoval
    remappings:
      - from: ~input
        to: z_filter/output
  - name: odom_cloud
    type: jsk_pcl/TfTransformCloud
    remappings:
      - from: ~input
        to: remove_outlier/output
  - name: footprint_respected_to_map
    type: jsk_pcl/PolygonArrayTransformer
    remappings:
      - from: ~input_polygons
        to: footprint_polygon_publisher/output_polygons
      - from: ~input_coefficients
        to: footprint_polygon_publisher/output_coefficients
  - name: footprint_magnifier
    type: jsk_pcl/PolygonMagnifier
    remappings:
      - from: ~input
        to: footprint_respected_to_map/output_polygons
  - name: footprint_magnifier_for_point_sampler
    type: jsk_pcl/PolygonMagnifier
    remappings:
      - from: ~input
        to: footprint_respected_to_map/output_polygons
  - name: footprint_point_sampler
    type: jsk_pcl/PolygonPointsSampler
    remappings:
      - from: ~input/polygons
        to: footprint_magnifier_for_point_sampler/output
      - from: ~input/coefficients
        to: footprint_respected_to_map/output_coefficients
  - name: normal_estimation
    type: jsk_pcl/NormalEstimationOMP
    remappings:
      - from: ~input
        to: odom_cloud/output
  - name: normal_concat
    type: jsk_pcl/NormalConcatenater
    remappings:
      - from: ~input
        to: odom_cloud/output
      - from: ~normal
        to: normal_estimation/output
  - name: pointcloud_concatenator
    type: pcl/PointCloudConcatenateDataSynchronizer
  - name: normal_flip
    type: jsk_pcl/NormalFlipToFrame
    remappings:
      - from: ~input
        to: pointcloud_concatenator/output
  - name: normal_direction_filter
    type: jsk_pcl/NormalDirectionFilter
    remappings:
      - from: ~input
        to: normal_flip/output
      - from: ~input_imu
        to: $(arg input_imu)
  - name: normal_filtered_points
    type: pcl/ExtractIndices
    remappings:
      - from: ~input
        to: normal_flip/output
      - from: ~indices
        to: normal_direction_filter/output
  - name: relay_normal_flip
    type: jsk_topic_tools/Relay
    remappings:
      - from: ~input
        to: normal_flip/output
      - from: ~output
        to: /communication/normal_flip_cloud
  - name: relay_normal_filterd_points
    type: jsk_topic_tools/Relay
    remappings:
      - from: ~input
        to: normal_filtered_points/output
      - from: ~output
        to: /communication/locomotion_cloud
      </rosparam>
    </node>
    <group ns="gsensor_cloud">
      <rosparam>
        target_frame_id: ground
      </rosparam>
    </group>
    <group ns="x_filter">
      <rosparam>
        filter_field_name: x
        filter_limit_min: -10
        filter_limit_max: 10
        filter_limit_negative: false
      </rosparam>
    </group>
    <group ns="y_filter">
      <rosparam>
        filter_field_name: y
        filter_limit_min: -3
        filter_limit_max: 3
        filter_limit_negative: false
      </rosparam>
    </group>
    <group ns="z_filter">
      <param if="$(arg MULTISENSE_STANDALONE)" name="input_frame" value="multisense/head_root" />
      <rosparam>
        filter_field_name: z
        filter_limit_negative: true
      </rosparam>
      <rosparam unless="$(arg MULTISENSE_STANDALONE)">
        filter_limit_min: 0.8
        filter_limit_max: 100.0
      </rosparam>
    </group>
    <group ns="remove_outlier">
      <rosparam>
        radius_search: 0.05
        min_neighbors: 10
      </rosparam>
    </group>
    <group ns="odom_cloud">
      <rosparam>
        target_frame_id: ground
      </rosparam>
    </group>
    <group ns="footprint_respected_to_map">
      <rosparam>
        frame_id: ground
      </rosparam>
    </group>
    <group ns="footprint_magnifier">
      <rosparam>
        magnify_distance: 0.5
      </rosparam>
    </group>
    <group ns="footprint_magnifier_for_point_sampler">
      <rosparam>
        magnify_distance: 0.04
      </rosparam>
    </group>
    <group ns="footprint_point_sampler">
      <rosparam>
      </rosparam>
    </group>
    <group ns="add_point_indices">
    </group>
    <group ns="normal_estimation">
      <rosparam>
        k_search: 0
        radius_search: 0.05
        spatial_locator: 0
      </rosparam>
    </group>
    <group ns="normal_concat">
      <rosparam>
        use_async: false
      </rosparam>
    </group>
    <group ns="pointcloud_concatenator">
      <rosparam>
        input_topics: ["/locomotion/normal_concat/output", "/locomotion/footprint_point_sampler/output"]
        output_frame: ground
        max_queue_size: 50
      </rosparam>
    </group>
    <group ns="normal_flip">
      <rosparam>
        frame_id: head_root
      </rosparam>
    </group>
    <group ns="normal_direction_filter">
      <rosparam>
        queue_size: 2000
        use_imu: true
        eps_angle: 0.5 # too large?
      </rosparam>
    </group>
    <group ns="normal_filtered_points">
      <rosparam>
        negative: false
      </rosparam>
    </group>
    <group ns="relay_normal_flip">
    </group>
    <group ns="relay_normal_filterd_points">
    </group>

    <include file="$(find jsk_footstep_planner)/launch/$(env ROBOT)_footprint.launch">
      <arg name="INPUT_POINTCLOUD" value="odom_cloud/output" />
    </include>
  </group>
  <node pkg="roseus" type="roseus" name="lookaround_ground"
        args="$(find jsk_footstep_controller)/euslisp/lookaround-ground.l">
  </node>
  <node pkg="jsk_footstep_controller"
        type="footstep-controller-old.l"
        name="footstep_controller"
        respawn="true"
        clear_params="true"
        output="screen">
    <rosparam subst_value="true">
      interruptible_mode: ":semi-interruptible"
    </rosparam>
  </node>
</launch>
