<launch>
  <arg name="INPUT_IMAGE" default="/multisense/left/image_rect_color"/>
  <arg name="INPUT_CAMERA_INFO" default="/multisense/left/camera_info"/>
  <arg name="INPUT_POINT_CLOUD" default="/multisense/resize_1_4/points" />
  <arg name="DEBUG" default="false" />
  <group ns="valve_recognition">
    <node pkg="image_view2" type="image_view2" name="image_view2" if="$(arg DEBUG)">
      <remap from="image" to="$(arg INPUT_IMAGE)" />
      <remap from="$(arg INPUT_IMAGE)/screenrectangle" to="input_rect" />
    </node>
    <node pkg="nodelet" type="nodelet" name="valve_manager"
          args="manager" />
    <node pkg="nodelet" type="nodelet"
          name="rect_to_mask_image"
          args="load jsk_perception/RectToMaskImage valve_manager">
      <remap from="~input" to="input_rect" />
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="nodelet" type="nodelet"
          args="load jsk_pcl/MaskImageFilter valve_manager"
          name="mask_image_filter">
      <remap from="~input" to="$(arg INPUT_POINT_CLOUD)"/>
      <remap from="~input/mask" to="rect_to_mask_image/output"/>
      <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="filtered_cloud"
          args="load pcl/ExtractIndices valve_manager">
      <remap from="~input" to="$(arg INPUT_POINT_CLOUD)"/>
      <remap from="~indices" to="mask_image_filter/output"/>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="normal_estimation"
          args="load jsk_pcl/NormalEstimationOMP valve_manager">
      <remap from="~input" to="filtered_cloud/output" />
      <rosparam>
        k_search: 0
        radius_search: 0.05
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet"
          name="normal_direction_filter"
          args="load jsk_pcl/NormalDirectionFilter valve_manager">
      <remap from="~input" to="normal_estimation/output_with_xyz" />
      <remap from="~input_imu" to="/multisense/imu/imu_data" />
      <rosparam>
        use_imu: true
        queue_size: 1000
        eps_angle: 0.5
        angle_offset: 1.57
      </rosparam>
    </node>

    <node pkg="nodelet"
          type="nodelet"
          args="load pcl/ExtractIndices valve_manager"
          name="filtered_points">
      <remap from="~input" to="normal_estimation/output_with_xyz" />
      <remap from="~indices" to="normal_direction_filter/output" />
    </node>

    <node pkg="nodelet"
          type="nodelet"
          args="load jsk_pcl/EuclideanClustering valve_manager"
          name="euclidean_clustering">
      <remap from="~input" to="filtered_points/output" />
      <rosparam>
        tolerance: 0.05
      </rosparam>
    </node>

    <node pkg="nodelet"
          type="nodelet"
          name="cluster_decomposer"
          args="load jsk_pcl/ClusterPointIndicesDecomposer valve_manager">
      <remap from="~input" to="filtered_points/output" />
      <remap from="~target" to="euclidean_clustering/output" />
    </node>

    <node pkg="drc_task_common"
          type="nearest_box_indices.py"
          name="nearest_cluster">
      <remap from="~input/box_array" to="cluster_decomposer/boxes" />
      <remap from="~input/indices" to="euclidean_clustering/output" />
    </node>
    <node pkg="nodelet" type="nodelet" name="nearest_cluster_cloud"
          args="load pcl/ExtractIndices valve_manager">
      <remap from="~input" to="filtered_points/output"/>
      <remap from="~indices" to="nearest_cluster/output/indices"/>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="valve_finder"
          args="load jsk_pcl/TorusFinder valve_manager">
      <remap from="~input" to="nearest_cluster_cloud/output" />
      <rosparam>
        algorithm: RANSAC
        max_iterations: 1000
        min_radius: 0.03
        max_radius: 0.25
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet"
          args="load jsk_topic_tools/Snapshot valve_manager"
          name="snapshot">
      <remap from="~input" to="valve_finder/output"/>
      <rosparam>
        latch: true
      </rosparam>
    </node>
  </group>
</launch>
