<launch>
  <arg name="LAUNCH_HANDLE_DETECTOR" default="true" />
  <arg name="LAUNCH_EUS" default="true" />
  <arg name="LAUNCH_CAR_CENTER" default="true" />
  <arg name="LAUNCH_RECOGNITION" default="true" />

  <arg name="ROBOT" default="robot" />

  <!-- remap for highspeed streamer -->
  <remap from="/handle_pose" to="/communication/handle_pose" />
  <remap from="/crank_pose" to="/communication/crank_pose" />
  <remap from="/drive/controller/current_steering" to="/communication/drive/controller/current_steering" />
  <remap from="/drive/recognition/predicted_path/marker" to="/communication/drive/recognition/predicted_path/marker" />
  
  <!-- detect handle_pose from marker on crank -->
  <group if="$(arg LAUNCH_HANDLE_DETECTOR)" >
    <include file="$(find drc_task_common)/launch/fc/vehicle/handle_pose_detector.launch"/>
  </group>

  <!-- eus -->
  <group if="$(arg LAUNCH_EUS)">
    <node pkg="roseus" type="roseus" name="drive_controller"
          args="$(find drc_task_common)/euslisp/vehicle/$(arg ROBOT)-driving-controller-on-polaris-xp900.l '($(arg ROBOT)-vehicle-main :real nil)'" />
  </group>

  <!-- recognition -->
  <group if="$(arg LAUNCH_CAR_CENTER)">
    <include file="$(find drc_task_common)/launch/fc/vehicle/car_center_tf_publisher.launch">
      <arg name="REAL_MODE" default="true"/>
    </include>
  </group>
  <group if="$(arg LAUNCH_RECOGNITION)">
    <!-- <node name="drive_recognition" pkg="drc_task_common" type="drive_recognition.sh" args="real 0" /> -->
    <include file="$(find drc_task_common)/launch/fc/vehicle/extract_obstacle_cloud.launch"/>
    <include file="$(find drc_task_common)/launch/fc/vehicle/driver_assist.launch"/>
  </group>
</launch>
