<launch>
  <node
    pkg="play_music"
    type="play_music.py"
    name="play_music"
    output="screen"
    >
    <rosparam>
        musics:
            - filepath: '/var/lib/robot/musics/yorunikakeru.wav'
              bpm: 130
            - filepath: '/var/lib/robot/musics/steppin_out.wav'
              bpm: 140
    </rosparam>
  </node>
</launch>
