<launch>
  <include file="$(find jsk_pcl_ros)/launch/hsi_color_filter.launch">
    <arg name="INPUT" value="/kinect_head/depth_registered/quater/throttled/points"/>
    <arg name="DEFAULT_NAMESPACE" value="motomochi"/>
    <arg name="h_max" value="53"/>
    <arg name="h_min" value="-17"/>
    <arg name="s_max" value="255"/>
    <arg name="s_min" value="119"/>
    <arg name="i_max" value="255"/>
    <arg name="i_min" value="78"/>
  </include>
</launch>