<launch>

  <node name="rosbag"
	pkg="rosbag" type="record"
	args="/tf
              /tf_static
	      /joint_states
	      /head_camera/rgb/image_raw/compressed
	      /head_camera/rgb/camera_info
	      /head_camera/depth_registered/image_raw/compressedDepth
	      /head_camera/depth_registered/camera_info
	      "
	      output="screen"
	      >
  </node>
</launch>
