<launch>
  <arg name="ROBOT" default="$(optenv ROBOT pr2)"/>
  <arg name="machine" default="c2"/>
  <arg name="camera" default="kinect_head/rgb"/>
  <arg name="use_mask" default="false"/>
  <arg name="use_throttle" default="true"/>

  <arg name="throttle_prefix" default="throttled/" if="$(arg use_throttle)"/>
  <arg name="throttle_prefix" default=""       unless="$(arg use_throttle)"/>

  <arg name="input_image" default="/$(arg camera)/$(arg throttle_prefix)image_rect_color"/>
  <arg name="input_camera_info" default="/$(arg camera)/$(arg throttle_prefix)camera_info"/>

  <include file="$(find pr2_machine)/$(arg ROBOT).machine"/>

  <group ns="/$(arg camera)">
    <rosparam ns="fridge_detector" subst_value="true">
      template_filename: $(find detect_cans_in_fridge_201202)/data/openni_rgb_fridge.png
      window_name: fridge_handle_upper
      object_width: 0.231
      object_height: 0.196
      relative_pose: '0.22 0.05 0.075  0.707107 0 -0.707107 0'
      viewer_window: false
    </rosparam>

    <include file="$(find detect_cans_in_fridge_201202)/launch/detect_fridge.xml">
      <arg name="machine" value="$(arg machine)"/>
      <arg name="input_image" value="$(arg input_image)"/>
      <arg name="input_camera_info" value="$(arg input_camera_info)"/>
    </include>
  </group>
</launch>
