<launch>
  <arg name="ROBOT" default="$(optenv ROBOT pr2)"/>
  <arg name="machine" default="c2"/>
  <arg name="camera" default="narrow_stereo/left"/>
  <arg name="use_mask" default="false"/>
  <arg name="use_throttle" default="true"/>

  <arg name="throttle_prefix" default="/throttled" if="$(arg use_throttle)"/>
  <arg name="throttle_prefix" default=""       unless="$(arg use_throttle)"/>

  <arg name="input_image" default="/$(arg camera)/image_rect_color$(arg throttle_prefix)"/>
  <arg name="input_camera_info" default="/$(arg camera)/camera_info$(arg throttle_prefix)"/>

  <include file="$(find pr2_machine)/$(arg ROBOT).machine"/>

  <group ns="/$(arg camera)">
   <node name="throttle" pkg="jsk_topic_tools" type="synchronized_throttle"
          machine="$(arg machine)" if="$(arg use_throttle)">
      <rosparam subst_value="true">
        topics:
        - /$(arg camera)/image_rect_color
        - /$(arg camera)/camera_info
        suffix: throttled
        update_rate: 5.0
      </rosparam>
    </node>

    <rosparam ns="fridge_detector" subst_value="true">
      template_filename: $(find detect_cans_in_fridge_201202)/data/narrow_stereo_fridge_610.png
      window_name: fridge_handle_upper
      object_width: 0.234
      object_height: 0.234
      relative_pose: '0.42 0.117 0.075  0.707107 0 -0.707107 0'
      viewer_window: false
      reprojection_threshold: 0.5
      distanceratio_threshold: 0.9
      error_threshold: 50.0
    </rosparam>
    <include file="$(find detect_cans_in_fridge_201202)/launch/detect_fridge.xml">
      <arg name="machine" value="$(arg machine)"/>
      <arg name="input_image" value="$(arg input_image)"/>
      <arg name="input_camera_info" value="$(arg input_camera_info)"/>
    </include>
  </group>
</launch>
