<launch>
  <arg name="start_rviz" default="true" />
  <arg name="debug_view" default="false" />
  <arg name="wait_query" default="false" />
  <arg name="execute" default="true" />
  <arg name="DEMOTYPE" default="map" />

  <include file="$(find jsk_pr2_startup)/sample/pr2_gazebo_73b2.launch">
    <arg name="INITIAL_POSE_X" value="3.5" />
    <arg name="INITIAL_POSE_YAW" value="-1.57" />
  </include>

  <include file="$(find detect_cans_in_fridge_201202)/launch/startup.launch">
    <arg name="debug_view" value="$(arg debug_view)" />
    <arg name="start_rviz" value="$(arg start_rviz)" />
    <arg name="wait_query" value="$(arg wait_query)" />
    <arg name="execute" value="$(arg execute)" />
    <arg name="DEMOTYPE" value="$(arg DEMOTYPE)" />
  </include>
</launch>
