<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node name="cropbox_manager" pkg="nodelet"
	type="nodelet" args="manager" output="screen" respawn="true"/>
  <node pkg="nodelet" type="nodelet" name="cropbox_nodelet" args="load
    pcl/CropBox cropbox_manager" output="screen" clear_params="true">
    <remap from="~input" to="/kinect_head/depth_registered/points_throttle"/>
    <remap from="~output" to="grasp_object_points"/>
    <rosparam>
      target_frame_id: r_gripper_tool_frame
      min_x: -0.3
      min_y: -0.3
      min_z: -0.3
      max_x: 0.3
      max_y: 0.3
      max_z: 0.3
    </rosparam>
  </node>

  <node pkg="robot_self_filter_color" type="self_filter_color"
	name="robot_self_filter_kinect"
	respawn="true" output="screen">
    <!-- The topic for the input cloud -->
    <remap from="cloud_in" to="grasp_object_points" />
    <!-- The topic for the output cloud -->
    <remap from="cloud_out" to="grasp_object_points_filtered" />
    <!-- The frame of the sensor used to obtain the data to be
	 filtered; This parameter is optional. If it is not specified,
	 shadow points will be considered outside -->
    <!-- <param name="sensor_frame" type="string" value="openni_depth_optical_frame" /> -->
    <!-- Minimum distance to sensor (for point not to be considered inside) -->
    <param name="min_sensor_dist" type="double" value="0.01" />
    <!-- The padding to be added for the body parts the robot can see -->
    <param name="self_see_padd" type="double" value="0.02" />
    <!-- The scaling to be added for the body parts the robot can see -->
    <param name="self_see_scale" type="double" value="1.0" />
    <param name="subsample_value" type="double" value="0.0"/>
    <rosparam file="$(find detect_cans_in_fridge_201202)/config/self_filter.yaml" command="load" />
  </node>
</launch>
