<launch>
  <arg name="visualize" default="true" />
  <arg name="roi" default="true" />
  <arg name="camera" default="kinect_head" />
  <arg name="machine" default="c2"/>

  <include file="$(find pr2_machine)/$(optenv ROBOT pr2).machine" />

  <group if="$(arg visualize)">
    <group ns="fridge_cds_stocker">
      <node pkg="roseus" type="roseus" name="fridge_cds_stocker"
            output="screen" machine="c2"
            args="$(find jsk_perception)/euslisp/kalman-filtered-objectdetection-marker.l">
        <remap from="input/image" to="/$(arg camera)/rgb/image_rect_color" />
        <remap from="input/ObjectDetection" to="/$(arg camera)/rgb/ObjectDetection" />
        <param name="object_width" value="0.231"/>
        <param name="object_height" value="0.196"/>
        <param name="relative_pose" value="0.22 0.05 0.075  0.707107 0
          -0.707107 0"/>
        <param name="target_type" value="fridge" />
      </node>
    </group>
    <group ns="can_cds_stocker">
      <node pkg="roseus" type="roseus" name="can_cds_stocker"
            output="screen" machine="c2"
            args="$(find jsk_perception)/euslisp/kalman-filtered-objectdetection-marker.l">
        <remap from="input/image" to="/$(arg camera)/rgb/image_rect_color" />
        <remap from="input/ObjectDetection" to="/$(arg camera)/depth_registered/ObjectDetection" />
        <param name="target_type" value="georgia" />
      </node>
    </group>
    <node name="gaussianmanager" pkg="nodelet" type="nodelet" args="manager"
          output="screen" />
    <node pkg="nodelet" type="nodelet" name="posewithcovstampedtogaussian"
          args="load jsk_pcl/PoseWithCovarianceStampedToGaussianPointCloud gaussianmanager"
          output="screen" >
      <remap from="~input" to="/simplecov" />
      <rosparam>
        cut_plane: flipped_yz
        normalize_method: normalize_height
        sampling_num: 40
      </rosparam>
    </node>
  </group>

  <!-- setup fridge handle marker template -->
  <include file="$(find detect_cans_in_fridge_201202)/launch/detect_fridge.launch">
    <arg name="machine" value="$(arg machine)"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="use_mask" value="$(arg roi)"/>
    <arg name="use_throttle" value="true"/>
  </include>

  <!-- detect cans in fridge -->
  <include file="$(find detect_cans_in_fridge_201202)/launch/color_histogram.launch">
    <arg name="machine" value="$(arg machine)"/>
    <arg name="camera" value="$(arg camera)"/>
  </include>

</launch>
