<launch>
  <!-- sample data for test -->
  <anode pkg="rosbag" type="play" name="play"
	 args="-l -r 0.1 /home/leus/work/rits/refrig-kinect-c.bag" />

  <!-- reference white -->
  <anode pkg="image_view2" type="image_view2" name="select_ref_white">
    <remap from="image" to="/camera/rgb/image_rect_color"/>
    <remap from="camera_info" to="/camera/rgb/camera_info"/>
    <remap from="/camera/rgb/image_rect_color/screenpoint" to="/camera/rgb/screenpoint"/>
  </anode>

  <!-- setup fridge handle marker template -->
  <include file="$(find jsk_2011_07_pr2_semantic)/launch/setup_demo.launch" />

  <!-- load model (color histgrams) -->
  <include file="$(find white_balance_converter)/white_balance.launch" />
  <rosparam file="$(find detect_cans_in_fridge_201202)/object_models1.yaml" command="load" />

  <!-- clusters + model -> can_position -->
  <node pkg="roseus" type="roseus" name="detect_cans" output="screen"
  	args="$(find detect_cans_in_fridge_201202)/euslisp/white_balance_converter.l" />

</launch>
