<launch>
  <!-- sample data for test -->
  <anode pkg="rosbag" type="play" name="play"
	 args="-l -r 0.1 /home/leus/work/rits/refrig-kinect-c.bag" />

  <!-- reference white -->
  <anode pkg="image_view2" type="image_view2" name="select_ref_white">
    <remap from="image" to="/camera/rgb/image_rect_color"/>
    <remap from="camera_info" to="/camera/rgb/camera_info"/>
    <remap from="/camera/rgb/image_rect_color/screenpoint" to="/camera/rgb/screenpoint"/>
  </anode>

  <!-- setup fridge handle marker template -->
  <include file="$(find jsk_2011_07_pr2_semantic)/launch/start_perception.launch" />

  <!-- load model (color histgrams) -->
  <include file="$(find detect_cans_in_fridge_201202)/launch/white_balance.launch" />

  <!-- detect cans -->
  <include file="$(find detect_cans_in_fridge_201202)/launch/detect_cans.launch" />

  <!-- ICP matching between map and base scan -->
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <param name="SnapMapICP/age_threshold" value="2.0"/>
  <node pkg="SnapMapICP" type="SnapMapICP" name="tum_SnapMapICP" output="screen" machine="c2"/>

  <sphinxdoc><![CDATA[
This package containts detect and fetch can in the fridge demo program


.. figure:: http://r7videos-thumbnail.s3.amazonaws.com/ER7_RE_JR_DOMESTICAS_452kbps_2012-02-23_b9dace72-5e73-11e1-b9a6-4ba54d97a5f8.jpg
   :width 400

   http://noticias.r7.com/videos/japoneses-utilizam-robo-para-as-funcoes-de-empregada-domestica/idmedia/4f46c7a2fc9b864945d600a5.html

]]></sphinxdoc>

</launch>
