<launch>
  <arg name="machine" default="external" />

  <include file="$(find interactive_behavior_201409)/pr2.machine" />

  <node name="launch_relay" pkg="interactive_behavior_201409" type="relay_rgbd.sh"
        machine="$(arg machine)" output="screen"
        args="machine:=$(arg machine)"/>
</launch>
