<launch>
    <arg name="home_id" default="$(optenv SPOT_HOME_ID eng2_JSKEntrance)"/>
    <arg name="use_docking_station" default="$(optenv USE_DOCKING_STATION false)"/>
    <arg name="docking_station_id" default="$(optenv DOCKING_STATION_ID 520)"/>

    <node pkg="jsk_spot_go_back_home" type="demo.l" name="jsk_spot_go_back_home" output="screen" required="true">
        <rosparam subst_value="true">
            home_id: $(arg home_id)
            use_docking_station: $(arg use_docking_station)
            dock_id: $(arg docking_station_id)
            receiver_address: spot@jsk.imi.i.u-tokyo.ac.jp
            media_directory: /tmp
        </rosparam>
    </node>
</launch>
