<launch>
  <arg name="MACHINE" default="localhost" />
  <arg name="launch_map_server" default="true" />
  <arg name="use_machine" default="false" />
  <arg name="use_pictogram" default="false" />

  <machine name="localhost" address="localhost" if="$(arg use_machine)" />

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tfA)"
        args="0 0 0 0 0 0 /world /eng8 100"/>

  <include file="$(find jsk_maps)/launch/include/start_map_eng8_main.xml">
    <arg name="launch_map_server" value="$(arg launch_map_server)" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tfB)"
        args="0 -13.678 0  0 0 0 /eng8/6f /eng8/6f/610 100" />

  <!-- for initialpose topic -->
  <node name="initialpose3d" pkg="jsk_maps" type="initialpose3d.py">
    <remap from="initialpose_in" to="initialpose3d" />
    <remap from="initialpose_out" to="initialpose" />
  </node>

  <node name="publish_spot" pkg="roseus" type="roseus"
        args="$(find jsk_maps)/tools/publish_spot.l"
        machine="$(arg MACHINE)"
        output="screen" >
    <param name="~scene" value="eng8" />
    <param name="~use_pictogram" value="$(arg use_pictogram)" />
  </node>

</launch>
