<launch>
  <!-- map for visualization nodes -->
  <node name="$(anon map_server)" pkg="map_server" type="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-2f.yaml" >
    <remap from="map" to="/eng2/2f"/>
    <param name="frame_id" value="/eng2/2f"/>
  </node>
  <node name="$(anon map_server)" pkg="map_server" type="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-3f.yaml" >
    <remap from="map" to="/eng2/3f"/>
    <param name="frame_id" value="/eng2/3f"/>
  </node>
  <node name="$(anon map_server)" pkg="map_server" type="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-7f.yaml" >
    <remap from="map" to="/eng2/7f"/>
    <param name="frame_id" value="/eng2/7f"/>
  </node>
  <node name="$(anon map_server)" pkg="map_server" type="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-8f.yaml" >
    <remap from="map" to="/eng2/8f"/>
    <param name="frame_id" value="/eng2/8f"/>
  </node>

  <!-- map for navigation nodes -->
  <node pkg="map_server2" type="map_server" name="map_server"
	args="$(find jsk_maps)/raw_maps/eng2-2f.yaml
              $(find jsk_maps)/raw_maps/eng2-3f.yaml
              $(find jsk_maps)/raw_maps/eng2-7f.yaml
              $(find jsk_maps)/raw_maps/eng2-8f.yaml"/>

  <!-- the position is defined in eng2-map.yaml -->
  <node pkg="tf" type="static_transform_publisher"
        name="map_tf_8F"
        args="0 0 80 0 0 0 /eng2 /eng2/8f 10"/>
  <node pkg="tf" type="static_transform_publisher"
        name="map_tf_7F"
        args="0 0 70 0 0 0 /eng2 /eng2/7f 10"/>
  <node pkg="tf" type="static_transform_publisher"
        name="map_tf_73B2"
        args="0 6.9 0 0 0 0 /eng2/7f /eng2/7f/73B2 10"/>
  <node pkg="tf" type="static_transform_publisher"
        name="map_tf_3F"
        args="0 0 30 0 0 0 /eng2 /eng2/3f 10"/>
  <node pkg="tf" type="static_transform_publisher"
        name="map_tf_2F"
        args="0 0 20 0 0 0 /eng2 /eng2/2f 10"/>

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 0 0 0 0 0 /eng2/2f /map 10">
    <remap from="tf" to="/eng2/2f_tf"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 0 0 0 0 0 /eng2/3f /map 10">
    <remap from="tf" to="/eng2/3f_tf"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 0 0 0 0 0 /eng2/7f /map 10">
    <remap from="tf" to="/eng2/7f_tf"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 0 0 0 0 0 /eng2/8f /map 10">
    <remap from="tf" to="/eng2/8f_tf"/>
  </node>
  <node name="tf_mux" pkg="topic_tools" type="mux"
  	args="tf /eng2/2f_tf /eng2/3f_tf /eng2/7f_tf /eng2/8f_tf">
    <remap from="mux" to="map_tf_mux" />
  </node>

</launch>
