<launch>
  <arg name="MACHINE" default="localhost" />
  <machine name="localhost" address="localhost" />
  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tfA)"
        args="0 0 0 0 0 0 /world /eng2 100"/>

  <include file="$(find jsk_maps)/launch/start_map_eng2_main.launch" />

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tfB)"
        args="0 6.9 0 0 0 0 /eng2/7f /eng2/7f/73B2 100"/>

  <!-- for initialpose topic -->
  <node name="initialpose3d" pkg="jsk_maps" type="initialpose3d.py">
    <remap from="initialpose_in" to="initialpose3d" />
    <remap from="initialpose_out" to="initialpose" />
  </node>

  <node name="publish_spot" pkg="roseus" type="roseus"
        args="$(find jsk_maps)/tools/publish_spot.l"
        machine="$(arg MACHINE)"
        output="screen" >
    <param name="~scene" value="eng2" />
  </node>
  
  

</launch>
