<launch>

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 0 0 0 0 0 /world /eng2 10"/>

  <include file="$(find jsk_maps)/launch/start_map_eng2_main.launch" />

  <node pkg="tf" type="static_transform_publisher" name="$(anon map_tf)"
        args="0 6.9 0 0 0 0 /eng2/7f /eng2/7f/73B2 10"/>

  <!-- for initialpose topic -->
  <node name="initialpose3d" pkg="jsk_maps" type="initialpose3d.py">
    <remap from="initialpose_in" to="initialpose3d" />
    <remap from="initialpose_out" to="initialpose" />
  </node>

</launch>
