<launch>
    <node
        pkg="jsk_spot_patrol_and_greeting"
        type="demo.l"
        name="jsk_spot_patrol_and_greeting_demo"
        required="true"
        output="screen"
        >
        <rosparam subst_value="true">
            patrol_list:
                - eng2_73B2
                - eng2_JSKEntrance
                - eng2_73A2
                - eng2_7FElevator
                - eng2_73B1
            home_id: eng2_73B2
            dock_id: 520
            receiver_address: "spot@jsk.imi.i.u-tokyo.ac.jp"
            video_directory: "/tmp/"
            video_audio_topic_name: "/audio"
            video_image_topic_name: "/dual_fisheye_to_panorama/output/quater/throttled"
            video_frame_rate: 1
        </rosparam>
    </node>
</launch>
