<launch>
  <arg name="INPUT_CLOUD" default="/tilt_laser_listener/output_cloud" />
  <node pkg="jsk_topic_tools" type="snapshot" name="laser_snapshot">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
  </node>
  <node pkg="jsk_pcl_ros" type="normal_estimation_omp" name="normal_estimation_omp" output="screen">
    <remap from="~input" to="laser_snapshot/output" />
  </node>
  <node pkg="jsk_pcl_ros" type="region_growing_multiple_plane_segmentation" name="region_growing_multiple_plane_segmentation"
        output="screen">
    <remap from="~input" to="normal_estimation_omp/output_with_xyz" />
    <remap from="~input_normal" to="normal_estimation_omp/output_with_xyz" />
    <rosparam>
      min_area: 1.0
      max_area: 2.0
    </rosparam>
  </node>
  <node pkg="jsk_pcl_ros" type="polygon_array_angle_likelihood" name="polygon_array_angle_likelihood">
    <remap from="~input" to="/region_growing_multiple_plane_segmentation/output/polygons" />
    <rosparam>
      target_frame_id: BODY
      axis: [1, 0, 0]
    </rosparam>
  </node>
  <node pkg="jsk_pcl_ros" type="polygon_array_distance_likelihood" name="polygon_array_distance_likelihood">
    <remap from="~input" to="/polygon_array_angle_likelihood/output" />
    <rosparam>
      target_frame_id: BODY
    </rosparam>
  </node>
  <node pkg="drc_task_common" type="front_plane_extractor.py" name="front_plane_extractor" output="screen">
    <remap from="~input_polygon" to="/polygon_array_angle_likelihood/output" />
    <remap from="~input_coeff" to="/region_growing_multiple_plane_segmentation/output/coefficients" />
    <rosparam>
      frame_id: ground
    </rosparam>
  </node>
  <node pkg="jsk_pcl_ros" type="multi_plane_extraction" name="multi_plane_extraction">
    <remap from="~input" to="normal_estimation_omp/output_with_xyz" />
    <remap from="~input_polygons" to="front_plane_extractor/output_polygons" />
    <remap from="~input_coefficients" to="front_plane_extractor/output_coeff" />
    <rosparam>
      use_indices: false
    </rosparam>
  </node>
  <node pkg="jsk_pcl_ros" type="euclidean_clustering" name="euclidean_clustering">
    <remap from="~input" to="multi_plane_extraction/output" />
  </node>
  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" name="cluster_point_indices_decomposer">
    <remap from="~input" to="multi_plane_extraction/output" />
    <remap from="~target" to="euclidean_clustering/output" />
    <remap from="~align_planes" to="front_plane_extractor/output_polygons" />
    <remap from="~align_planes_coefficients" to="front_plane_extractor/output_coeff" />
    <rosparam>
      align_boxes: true
      use_pca: true
    </rosparam>
  </node>
  <node pkg="drc_task_common" type="door_handle_bbox_extractor.py" name="door_handle_bbox_extractor" output="screen">
    <remap from="~input" to="cluster_point_indices_decomposer/boxes" />
  </node>
  <node pkg="jsk_topic_tools" type="static_transform_pose_stamped"
        name="drc_box_maker_to_handle"
        args="0 0 0 -1.57 -1.57 0 door_handle_bbox_extractor/output door_handle" />
</launch>
