<launch>
  <arg name="default_frame_id" default="odom_on_ground" />
  <arg name="only_recognition_with_openni" default="false" />

  <!-- robot specific setting -->
  <arg name="robot_name" default="hrp2jsknts" />
  <arg name="ROBOT_URDF_MODEL" default="$(find hrpsys_ros_bridge_tutorials)/models/HRP2JSKNTS.urdf.xacro" />
  <arg name="robot_model_config" default="$(find drc_task_common)/config/hrp2_interactive_marker.yaml" />
  <arg name="ik_server_launch" default="hrp2jsknts-ik-server.launch" />
  <arg name="trackball_head_launch" default="hrp2_trackball_head.launch" />
  <arg name="multi_plane_segmentation_input" default="/move_group/filtered_cloud" />
  <arg name="multi_plane_segmentation_base_frame_id" default="odom" />

  <!-- object detection -->
  <include file="$(find drc_task_common)/launch/object_detect.launch" >
    <arg name="only_recognition_with_openni" default="$(arg only_recognition_with_openni)" />
    <arg name="INPUT" value="$(arg multi_plane_segmentation_input)" />
    <arg name="BASE_FRAME_ID" default="$(arg multi_plane_segmentation_base_frame_id)" />
  </include>

  <!-- robot motion -->
  <include file="$(find drc_task_common)/launch/robot_motion.launch" >
    <arg name="default_frame_id" default="$(arg default_frame_id)" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="ik_server_launch" default="$(arg ik_server_launch)" />
  </include>

  <!-- robot model -->
  <include file="$(find drc_task_common)/launch/robot_model.launch" >
    <arg name="default_frame_id" default="$(arg default_frame_id)" />
    <arg name="robot_model_config" default="$(arg robot_model_config)" />
    <arg name="ROBOT_URDF_MODEL" default="$(arg ROBOT_URDF_MODEL)" />
  </include>

  <!-- object model -->
  <include file="$(find drc_task_common)/launch/transformable_model.launch" >
    <arg name="default_frame_id" default="$(arg default_frame_id)" />
  </include>

  <!-- teleop device -->
  <include file="$(find drc_task_common)/launch/teleop_device.launch" >
    <arg name="default_frame_id" default="$(arg default_frame_id)" />
    <arg name="trackball_head_launch" default="$(arg trackball_head_launch)" />
  </include>

  <!-- teleop interface -->
  <include file="$(find drc_task_common)/launch/teleop_interface.launch" />

  <!-- remote server -->
  <include file="$(find drc_task_common)/launch/remote_server.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <!-- manipulation data processor  -->
  <include file="$(find drc_task_common)/launch/manipulation_data_processor.launch" >
    <arg name="default_frame_id" default="$(arg default_frame_id)" />
  </include>

</launch>
