<launch>
  <!--
      This is a launch file for Main PC of Field Computer (FC)
  -->
  
  <arg name="FC_IP" default="localhost" />
  <arg name="OCS_IP" default="localhost" />
  <arg name="USE_LOCALHOST" default="false" />
  <arg name="USE_COM" default="true" />

  <!-- Include machine tags -->
  <include file="$(find drc_task_common)/launch/machines/$(env ROBOT).machine" />
  <include file="$(find drc_task_common)/launch/fc/fc_executive.launch" />
  <node pkg="drc_task_common" type="robot-main.l" name="robot_main" output="screen" if="false">
  </node>

  <!-- recognition -->
  <include file="$(find drc_task_common)/launch/fc/stereo_preprocess.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/laser_preprocess.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/go_pos.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/lookat.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/hose_grasp.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/hose_connect.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/valve_recognition.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_recognition.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_recognition_for_grasp.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_recognition_for_button.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_recognition_for_wall.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_recognition_for_put.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/drill_button_checker.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/door_recognition.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/debri_recognition.launch">
  </include>
  <include file="$(find drc_task_common)/launch/fc/panorama.launch" />
  <include file="$(find drc_task_common)/launch/fc/locomotion.launch" />
  <include file="$(find drc_task_common)/launch/fc/fc_misc.launch" />
  <!-- communication -->
  <include file="$(find drc_com_common)/launch/field_computer_com.launch" 
           if="$(arg USE_COM)">
    <arg name="FC_IP" value="$(arg FC_IP)" />
    <arg name="OCS_IP" value="$(arg OCS_IP)" />
  </include>
  <group if="false">
    <!-- object detection -->
    <include file="$(find drc_task_common)/launch/object_detect.launch" />
    
    <!-- remote server -->
    <include file="$(find drc_task_common)/launch/remote_server.launch" />
  </group>
</launch>
