<launch>
  <arg name="USE_SNAPSHOT" default="true" />
  <arg name="USE_THROTTLE" default="true" />
  <arg name="USE_MJPEGSERVER" default="false" />
  <arg name="USE_ROTATED" default="false" />
  <arg name="USE_EDGE" default="true" />

  <arg name="THROTTLE_RATE" default="1.4" />
  <arg name="THROTTLE_RESIZE_RATE" default="0.1" />
  <arg name="THROTTLE_IMAGE_TYPE" default="image_rect" />
  <arg name="THROTTLE_USE_MESSAGES" default="flase" />
  <arg name="THROTTLE_PERIOD" default="3" />
  <arg name="SNAPSHOT_RESIZE_RATE" default="0.25" />
  <arg name="SNAPSHOT_IMAGE_TYPE" default="image_rect" />
  <arg name="MJPEGSERVER_PORT" default="8181"/>
  <arg name="GAZEBO_MODE" default="false" />

  <arg name="LAUNCH_MANAGER" default="true" />
  <arg name="IMAGE_NODELET_MANAGER" default="image_transport_nodelet_manager"/>
  <arg name="GDB" default="false" />

  <group if="$(arg LAUNCH_MANAGER)">
    <node pkg="nodelet" type="nodelet" name="$(arg IMAGE_NODELET_MANAGER)"
          args="manager"
          if="$(arg GDB)"
          launch-prefix="xterm -e gdb --args"
          output="screen"/>
    <node pkg="nodelet" type="nodelet" name="$(arg IMAGE_NODELET_MANAGER)"
          args="manager"
          unless="$(arg GDB)"
          output="screen"/>
  </group>

  <!-- image relay -->
  <node pkg="nodelet" type="nodelet" name="camera_image_relay"
	args="load jsk_topic_tools/Relay $(arg IMAGE_NODELET_MANAGER)" output="screen">
    <remap from="~input" to="/camera_remote/rgb/image_rect_color" />
    <remap from="~output" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/image_rect_color" />
  </node>
  <node pkg="nodelet" type="nodelet" name="camera_image_info_relay"
	args="load jsk_topic_tools/Relay $(arg IMAGE_NODELET_MANAGER)" output="screen">
    <remap from="~input" to="/camera_remote/rgb/camera_info" />
    <remap from="~output" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/camera_info" />
  </node>

  <!-- resized image -->
  <group if="$(arg USE_THROTTLE)" >
    <node pkg="resized_image_transport" type="image_resizer" name="camera_image_resize"
          output="screen" >
      <remap from="~input/image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/image_rect_color" />
      <remap from="~output/image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/resized/image" />
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_messages" value="$(arg THROTTLE_USE_MESSAGES)" />
      <param name="period" value="$(arg THROTTLE_PERIOD)" />
      <param name="use_snapshot" value="false" />
    </node>
  </group>

  <!-- edge image -->
  <group if="$(arg USE_EDGE)" >
    <node pkg="jsk_perception" type="edge_detector" name="camera_image_edge_detector">
      <remap from="image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/image_rect_color" />
      <remap from="edge/image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/edge/image"/>
    </node>
    <node pkg="jsk_perception" type="sparse_image_encoder"
          name="camera_image_sparse_image_encoder">
      <remap from="image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/edge/image" />
      <remap from="sparse_image" to="$(arg IMAGE_NODELET_MANAGER)/camera_remote/rgb/sparse/image" />
      <param name="rate" value="1.0" />
    </node>
  </group>





</launch>
