<launch>
  <!--
      This is a launch file for Main PC of Operator Control Station (OCS)
  -->

  <!-- 
       Remap tf and joint_states for ocs settings
  -->
  <remap from="/tf" to="/ocs/tf" />
  <remap from="/joint_states" to="/ocs/joint_states" />
  <remap from="/robot_description" to="/ocs/robot_description" />

  <arg name="ik_server_launch" default="hrp2jsknts-ik-server.launch" />
  
  <arg name="FC_IP" default="localhost" />
  <arg name="OCS_IP" default="localhost" />
  
  <arg name="USE_COM" default="true" />
  
  <arg name="default_frame_id" default="odom_on_ground" />
  <arg name="robot_model_config" default="$(find drc_task_common)/config/robot_interactive_marker.yaml" />
  <arg name="INPUT_IMAGE" value="/ocs/communication/image_rect_color" />
  <arg name="INPUT_IMAGE_WIDTH_SCALE" value="/ocs/communication/image_width_scale" />
  <arg name="INPUT_IMAGE_HEIGHT_SCALE" value="/ocs/communication/image_height_scale" />
  <arg name="USE_RVIZ_UI" default="true" />
  
  <include file="$(find drc_task_common)/launch/ocs/ui.launch">
  </include>
  <include file="$(find drc_task_common)/launch/ocs/ocs_executive.launch">
  </include>
  <include file="$(find drc_task_common)/launch/ocs/ocs_misc.launch">
  </include>
  <!-- communication -->
  <include if="$(arg USE_COM)"
           file="$(find drc_com_common)/launch/operator_station_com.launch">
    <arg name="FC_IP" value="$(arg FC_IP)" />
    <arg name="OCS_IP" value="$(arg OCS_IP)" />
  </include>
  <include file="$(find drc_task_common)/launch/ocs/ocs_rviz.launch" if="$(arg USE_RVIZ_UI)"/>

</launch>
