<launch>
  <!--
      This is a launch file for Sub PC of Operator Control Station (OCS)
  -->

  <!-- operator station state -->
  <node pkg="drc_task_common" type="operator_station_state.py" name="operator_station_state" output="screen" >
  </node>

  <!-- operator station rviz -->
  <node pkg="rviz" name="operator_station_state_rviz" type="rviz" args="-d $(find drc_task_common)/config/operator_station_state.rviz" output="screen">
    <rosparam file="$(find drc_task_common)/config/operator_pannel.yaml" command="load" />
  </node>

</launch>
