<launch>
  <!-- rviz menu -->
  <node pkg="drc_task_common" type="rviz-menu-server.l" name="rviz_menu_server" output="screen" >
  </node>

  <!-- rqt teleop interface -->
  <!-- rviz panel is more usefull -->
  <!-- <node pkg="drc_task_common" type="drc_teleop_interface" name="drc_teleop_interface" output="screen" > -->
  <!-- </node> -->

  <!-- task state manager -->
  <node pkg="drc_task_common" type="task_state_manager.py" name="task_state_manager" output="screen" >
  </node>

  <!-- window alignment -->
  <!-- <node pkg="drc_task_common" type="align_windows.sh" name="align_windows" output="screen" > -->
  <!-- </node> -->

</launch>
