<launch>
  <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
        output="screen"
        name="highspeed_streamer">
    <rosparam>
      message: drc_com_common/FC2OCSLarge
      to_ip: "192.168.96.102"
    </rosparam>
  </node>
  
  <!-- relay -->
  <include file="$(find drc_com_common)/launch/fc_relay.launch" if="false"/>
</launch>
