<launch>
    <arg name="initial_node_id" default="eng2_73B2" />
    <arg name="edges_file" default="$(find spot_behavior_manager_demo)/config/edges.yaml" />

    <arg name="use_person_detection" default="true"/>
    <arg name="use_obstacle_detection" default="true"/>

    <rosparam subst_value="true">
        /narrow_behavior/use_person_detection: $(arg use_person_detection)
        /narrow_behavior/use_obstacle_detection: $(arg use_obstacle_detection)
    </rosparam>

    <include
        file="$(find spot_behavior_manager_demo)/launch/demo.launch"
        >
        <arg name="edges_file" value="$(arg edges_file)" />
        <arg name="initial_node_id" value="$(arg initial_node_id)" />
    </include>
</launch>
