<launch>
    <arg name="TOPIC_DEPTH_FRONT_RIGHT" default="/spot/depth/frontright"/>
    <arg name="TOPIC_DEPTH_FRONT_LEFT" default="/spot/depth/frontleft"/>
    <arg name="TOPIC_DEPTH_RIGHT" default="/spot/depth/right"/>
    <arg name="TOPIC_DEPTH_LEFT" default="/spot/depth/left"/>
    <arg name="TOPIC_DEPTH_BACK" default="/spot/depth/back"/>

    <arg name="TOPIC_CAMERA_FRONT_RIGHT" default="/spot/camera/frontright"/>
    <arg name="TOPIC_CAMERA_FRONT_LEFT" default="/spot/camera/frontleft"/>
    <arg name="TOPIC_CAMERA_RIGHT" default="/spot/camera/right"/>
    <arg name="TOPIC_CAMERA_LEFT" default="/spot/camera/left"/>
    <arg name="TOPIC_CAMERA_BACK" default="/spot/camera/back"/>

    <!-- camera_rectification -->

    <!-- AprilTag Detector -->
    <node
        pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="elevator_detection_front_right_apriltag_detector"
        >
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg TOPIC_CAMERA_FRONT_RIGHT)/image" />
        <remap from="camera_info" to="$(arg TOPIC_CAMERA_FRONT_RIGHT)/camera_info" />

        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/settings.yaml" />
        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/tags.yaml" />
        <param name="camera_frame" type="str" value="frontright_fisheye" />
    </node>
    <node
        pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="elevator_detection_front_left_apriltag_detector"
        >
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg TOPIC_CAMERA_FRONT_LEFT)/image" />
        <remap from="camera_info" to="$(arg TOPIC_CAMERA_FRONT_LEFT)/camera_info" />

        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/settings.yaml" />
        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/tags.yaml" />
        <param name="camera_frame" type="str" value="frontleft_fisheye" />
    </node>
    <node
        pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="elevator_detection_right_apriltag_detector"
        >
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg TOPIC_CAMERA_RIGHT)/image" />
        <remap from="camera_info" to="$(arg TOPIC_CAMERA_RIGHT)/camera_info" />

        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/settings.yaml" />
        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/tags.yaml" />
        <param name="camera_frame" type="str" value="right_fisheye" />
    </node>
    <node
        pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="elevator_detection_left_apriltag_detector"
        >
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg TOPIC_CAMERA_LEFT)/image" />
        <remap from="camera_info" to="$(arg TOPIC_CAMERA_LEFT)/camera_info" />

        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/settings.yaml" />
        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/tags.yaml" />
        <param name="camera_frame" type="str" value="left_fisheye" />
    </node>
    <node
        pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="elevator_detection_back_apriltag_detector"
        >
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg TOPIC_CAMERA_BACK)/image" />
        <remap from="camera_info" to="$(arg TOPIC_CAMERA_BACK)/camera_info" />

        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/settings.yaml" />
        <rosparam command="load" file="$(find spot_person_leader)/config/apriltag/tags.yaml" />
        <param name="camera_frame" type="str" value="back_fisheye" />
    </node>

    <!-- Concatenate pointclouds -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="elevator_detection_concatenate_pointcloud"
        args="standalone pcl/PointCloudConcatenateDataSynchronizer"
        >
        <remap from="~output" to="/spot/depth/points" />
        <rosparam subst_value="true">
          approximate_sync: true
          output_frame: body
          input_topics:
            - $(arg TOPIC_DEPTH_FRONT_RIGHT)/points
            - $(arg TOPIC_DEPTH_FRONT_LEFT)/points
            - $(arg TOPIC_DEPTH_RIGHT)/points
            - $(arg TOPIC_DEPTH_LEFT)/points
            - $(arg TOPIC_DEPTH_BACK)/points
        </rosparam>
    </node>

    <!-- elevator door detector from outside -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="elevator_detection_door_detector_outside_attention_clipper"
        args="standalone jsk_pcl/AttentionClipper"
        >
        <remap from="~input/points" to="/spot/depth/points"/>
        <rosparam subst_value="true">
            initial_pos: [0, 0, 0.5]
            initial_rot: [0, 0, 0]
            dimension_x: 0.5
            dimension_y: 0.5
            dimension_z: 0.5
            frame_id: elevator_door_frame
        </rosparam>
    </node>
    <node
        pkg="jsk_pcl_ros"
        type="extract_indices"
        name="elevator_detection_door_detector_outside_extract_indices"
        >
        <remap from="~input" to="/spot/depth/points"/>
        <remap from="~indices" to="elevator_detection_door_detector_outside_attention_clipper/output/point_indices"/>
        <remap from="~output" to="/spot_recognition/elevator_door_outside_points"/>
    </node>

    <!-- elevator door detector from inside -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="elevator_detection_door_detector_inside_attention_clipper"
        args="standalone jsk_pcl/AttentionClipper"
        >
        <remap from="~input/points" to="/spot/depth/points"/>
        <rosparam subst_value="true">
            initial_pos: [1.5, 0, 0]
            initial_rot: [0, 0, 0]
            dimension_x: 1.0
            dimension_y: 1.0
            dimension_z: 0.5
            frame_id: body
        </rosparam>
    </node>
    <node
        pkg="jsk_pcl_ros"
        type="extract_indices"
        name="elevator_detection_door_detector_inside_extract_indices"
        >
        <remap from="~input" to="/spot/depth/points"/>
        <remap from="~indices" to="elevator_detection_door_detector_inside_attention_clipper/output/point_indices"/>
        <remap from="~output" to="/spot_recognition/elevator_door_inside_points"/>
    </node>

    <!-- switchbot_ros -->
    <node
        pkg="switchbot_ros"
        type="switchbot_ros_server.py"
        name="switchbot_ros"
        output="screen">
        <rosparam
            command="load"
            file="$(find spot_person_leader)/config/switchbot_ros/token.yaml"
            />
    </node>

</launch>
