<launch>
  <!-- Define the robot name argument -->
  <arg name="robot_name" default="kashiwagi" />
  
  <!-- Launch serial_node for the right eye -->
  <node pkg="rosserial_python" name="serial_node_1" type="serial_node.py">
    <param name="~port" value="/dev/ttyACM-righteye"/>
    <param name="~baud" value="57600"/>
  </node>

  <!-- Launch serial_node for the left eye -->
  <node pkg="rosserial_python" name="serial_node_2" type="serial_node.py">
    <param name="~port" value="/dev/ttyACM-lefteye"/>
    <param name="~baud" value="57600"/>
  </node>
  
  <!-- Launch serial_node for the ume if robot_name is "kashiwagi" -->
  <group ns="ume">
    <group if="$(eval robot_name == 'kashiwagi')">
      <node pkg="rosserial_python" name="serial_node_3" type="serial_node.py">
  	<param name="~port" value="/dev/ttyUSB-ume"/>
  	<param name="~baud" value="57600"/>
      </node>
    </group>
  </group>

  <!-- Launch serial_node only if robot_name is "kashiwagi" -->
  <group ns="cheek">
    <node pkg="rosserial_python" name="serial_node_4" type="serial_node.py">
      <param name="~port" value="/dev/ttyUSB-cheek"/>
      <param name="~baud" value="57600"/>
    </node>
  </group>
</launch>
