<launch>

  <arg name="namespace" default="" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="enable_infra1" value="false" />
    <arg name="enable_infra2" value="false" />
    <arg name="enable_depth" value="false" />
    <arg name="align_depth" value="false" />
    <arg name="camera" value="$(arg namespace)/camera" />
  </include>

</launch>
