<launch>

  <arg name="namespace" default="" />

  <group if="$(eval len(arg('namespace')) > 0)" ns="$(arg namespace)" >
    <node name="vacuum_pressure"
          pkg="stereo_image_sandbox" type="vacuum_pressure.py" >
    </node>

    <node name="pump_switcher"
          pkg="stereo_image_sandbox" type="pump_switcher.py" >
    </node>

    <node name="vacuum_control"
          pkg="stereo_image_sandbox" type="vacuum_control.py" >
    </node>
  </group>

  <group unless="$(eval len(arg('namespace')) > 0)">
    <node name="vacuum_pressure"
          pkg="stereo_image_sandbox" type="vacuum_pressure.py" >
    </node>

    <node name="pump_switcher"
          pkg="stereo_image_sandbox" type="pump_switcher.py" >
    </node>

    <node name="vacuum_control"
          pkg="stereo_image_sandbox" type="vacuum_control.py" >
    </node>
  </group>

</launch>
